<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>key</key>
		<string>whe</string>
		<key>controls</key>
		<integer>3</integer>
		<key>name</key>
		<string>Wheelchair Guy</string>
		<key>class</key>
		<string>WheelchairGuy</string>
		<key>vehicles</key>
		<array>
			<dict>
				<key>offset</key>
				<string>{-.08,1.08}</string>
				<key>class</key>
				<string>Wheelchair</string>
				<key>key</key>
				<string>whc</string>
				<key>specialOnLeft</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>key</key>
		<string>biz</string>
		<key>controls</key>
		<integer>1</integer>
		<key>name</key>
		<string>Business Guy</string>
		<key>class</key>
		<string>BusinessGuy</string>
		<key>vehicles</key>
		<array>
			<dict>
				<key>offset</key>
				<string>{0,1.792}</string>
				<key>class</key>
				<string>Segway</string>
				<key>key</key>
				<string>pt</string>
				<key>specialOnLeft</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>key</key>
		<string>dad</string>
		<key>suppress_gore</key>
		<true/>
		<key>controls</key>
		<integer>2</integer>
		<key>name</key>
		<string>Irresponsible Dad</string>
		<key>class</key>
		<string>IrresponsibleDad</string>
		<key>vehicles</key>
		<array>
			<dict>
				<key>offset</key>
				<string>{-.08,1.792}</string>
				<key>class</key>
				<string>RoadBike</string>
				<key>key</key>
				<string>roa</string>
				<key>specialOnLeft</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>key</key>
		<string>sho</string>
		<key>controls</key>
		<integer>1</integer>
		<key>name</key>
		<string>Effective Shopper</string>
		<key>class</key>
		<string>Shopper</string>
		<key>red_x_offset_x</key>
		<real>0.55</real>
		<key>red_x_offset_y</key>
		<real>0.7</real>
		<key>vehicles</key>
		<array>
			<dict>
				<key>offset</key>
				<string>{-.48,1.256}</string>
				<key>class</key>
				<string>MotorCart</string>
				<key>key</key>
				<string>esc</string>
				<key>specialOnLeft</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>key</key>
		<string>mop</string>
		<key>controls</key>
		<integer>4</integer>
		<key>name</key>
		<string>Moped Guy</string>
		<key>class</key>
		<string>MopedCouple</string>
		<key>vehicles</key>
		<array>
			<dict>
				<key>offset</key>
				<string>{-.2,1.488}</string>
				<key>class</key>
				<string>Moped</string>
				<key>key</key>
				<string>mpd</string>
				<key>specialOnLeft</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>key</key>
		<string>pogo</string>
		<key>controls</key>
		<integer>5</integer>
		<key>name</key>
		<string>Pogo Stick Man</string>
		<key>class</key>
		<string>PogoStickMan</string>
		<key>vehicles</key>
		<array>
			<dict>
				<key>offset</key>
				<string>{0, 1.664}</string>
				<key>class</key>
				<string>PogoStick</string>
				<key>key</key>
				<string>pogostick</string>
				<key>specialOnLeft</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
