<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>greenSource1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{950,440}</string>
                <key>spriteSourceSize</key>
                <string>{950,440}</string>
                <key>textureRect</key>
                <string>{{0,0},{950,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenSource2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,307}</string>
                <key>spriteSourceSize</key>
                <string>{598,307}</string>
                <key>textureRect</key>
                <string>{{950,0},{598,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenSource3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,206}</string>
                <key>spriteSourceSize</key>
                <string>{440,206}</string>
                <key>textureRect</key>
                <string>{{1548,0},{440,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>greenhills.png</string>
            <key>size</key>
            <string>{1988,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b905cd652a32c1e45517b782861d9ea:c56632b5fc6664d8f32347306b962045:3ef5683e784dd72344b1ebac2e16ef9c$</string>
            <key>textureFileName</key>
            <string>greenhills.png</string>
        </dict>
    </dict>
</plist>
