<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunset_mountain1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1468,479}</string>
                <key>spriteSourceSize</key>
                <string>{1468,479}</string>
                <key>textureRect</key>
                <string>{{0,0},{1468,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunset_mountain2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1464,480}</string>
                <key>spriteSourceSize</key>
                <string>{1464,480}</string>
                <key>textureRect</key>
                <string>{{0,479},{1464,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunset_sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,125}</string>
                <key>spriteSourceSize</key>
                <string>{159,125}</string>
                <key>textureRect</key>
                <string>{{1464,479},{159,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sunset.png</string>
            <key>size</key>
            <string>{1623,959}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e508ac9fbf64e4c6f5096244f49dd9c:6adf4cd3c7023ee657bf522d7c4a49d4:942a4cb09127ff2f22ccf2b7973c4051$</string>
            <key>textureFileName</key>
            <string>sunset.png</string>
        </dict>
    </dict>
</plist>
