<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_particle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{97,188},{18,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{492,212},{30,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{608,173},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_particle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,22}</string>
                <key>textureRect</key>
                <string>{{569,206},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{515,1},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,38}</string>
                <key>spriteSourceSize</key>
                <string>{61,38}</string>
                <key>textureRect</key>
                <string>{{482,78},{61,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,74}</string>
                <key>textureRect</key>
                <string>{{461,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{570,1},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{120,184},{70,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{523,72},{68,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,84}</string>
                <key>textureRect</key>
                <string>{{324,78},{67,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{411,78},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,36}</string>
                <key>spriteSourceSize</key>
                <string>{79,36}</string>
                <key>textureRect</key>
                <string>{{237,158},{79,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{296,208},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metal_pieces_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{571,173},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metal_pieces_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,42}</string>
                <key>spriteSourceSize</key>
                <string>{18,42}</string>
                <key>textureRect</key>
                <string>{{471,212},{18,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metal_pieces_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{604,206},{30,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>metal_pieces_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{81,226},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark_particle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{578,121},{49,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spark_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{519,143},{49,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{578,68},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triscuits_particle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{569,231},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triscuits_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{163,184},{52,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triscuits_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{351,208},{45,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>van_glass_shard_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,180}</string>
                <key>spriteSourceSize</key>
                <string>{114,180}</string>
                <key>textureRect</key>
                <string>{{120,1},{114,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>van_glass_shard_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,184}</string>
                <key>spriteSourceSize</key>
                <string>{116,184}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>van_glass_shard_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,74}</string>
                <key>spriteSourceSize</key>
                <string>{134,74}</string>
                <key>textureRect</key>
                <string>{{324,1},{134,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>van_glass_shard_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,154}</string>
                <key>spriteSourceSize</key>
                <string>{84,154}</string>
                <key>textureRect</key>
                <string>{{237,1},{84,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,75}</string>
                <key>spriteSourceSize</key>
                <string>{25,75}</string>
                <key>textureRect</key>
                <string>{{324,148},{25,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,93}</string>
                <key>spriteSourceSize</key>
                <string>{35,93}</string>
                <key>textureRect</key>
                <string>{{1,188},{35,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,69}</string>
                <key>spriteSourceSize</key>
                <string>{15,69}</string>
                <key>textureRect</key>
                <string>{{395,176},{15,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,25}</string>
                <key>spriteSourceSize</key>
                <string>{77,25}</string>
                <key>textureRect</key>
                <string>{{1,226},{77,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,29}</string>
                <key>textureRect</key>
                <string>{{319,176},{73,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,35}</string>
                <key>textureRect</key>
                <string>{{413,171},{65,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{55,45}</string>
                <key>textureRect</key>
                <string>{{413,209},{55,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,37}</string>
                <key>spriteSourceSize</key>
                <string>{57,37}</string>
                <key>textureRect</key>
                <string>{{218,197},{57,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,57}</string>
                <key>spriteSourceSize</key>
                <string>{35,57}</string>
                <key>textureRect</key>
                <string>{{258,197},{35,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{519,196},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,17}</string>
                <key>spriteSourceSize</key>
                <string>{65,17}</string>
                <key>textureRect</key>
                <string>{{481,142},{65,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,31}</string>
                <key>spriteSourceSize</key>
                <string>{67,31}</string>
                <key>textureRect</key>
                <string>{{411,137},{67,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,15}</string>
                <key>spriteSourceSize</key>
                <string>{67,15}</string>
                <key>textureRect</key>
                <string>{{501,142},{67,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>particles.png</string>
            <key>size</key>
            <string>{629,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d79ef3a2fcc07b9fc894d9ad8aa4a224:f5bfcce3fc742356246ffab4f7b2da8c:862ffd2ecc13b36e3795ce1149c4b6f0$</string>
            <key>textureFileName</key>
            <string>particles.png</string>
        </dict>
    </dict>
</plist>
