<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levSelect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{431,262},{52,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{126,82}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{314,137},{126,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{116,80}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{314,264},{116,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{124,82}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{397,137},{124,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{122,82}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{313,345},{122,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{313,468},{124,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{122,82}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{396,345},{122,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{0,622},{72,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{394,549},{70,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{394,468},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{332,620},{68,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{83,622},{72,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{415,620},{70,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{166,622},{72,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{249,622},{72,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,-77}</string>
                <key>spriteSize</key>
                <string>{123,136}</string>
                <key>spriteSourceSize</key>
                <string>{313,308}</string>
                <key>textureRect</key>
                <string>{{314,0},{123,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{438,81},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,310}</string>
                <key>spriteSourceSize</key>
                <string>{313,310}</string>
                <key>textureRect</key>
                <string>{{0,0},{313,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{57,80}</string>
                <key>spriteSourceSize</key>
                <string>{313,310}</string>
                <key>textureRect</key>
                <string>{{438,0},{57,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_outline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,310}</string>
                <key>spriteSourceSize</key>
                <string>{312,310}</string>
                <key>textureRect</key>
                <string>{{0,311},{312,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu_level_select.png</string>
            <key>size</key>
            <string>{495,694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10ba26ac0939ea60c1e44e9f73af094c:90485973e94462deea70463a5ded0720:54b3809a3c22534ce24dfd91bfcea431$</string>
            <key>textureFileName</key>
            <string>menu_level_select.png</string>
        </dict>
    </dict>
</plist>
