<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mineExplosion_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-80}</string>
                <key>spriteSize</key>
                <string>{95,126}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{3083,170},{95,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-40}</string>
                <key>spriteSize</key>
                <string>{169,206}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{2581,212},{169,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-38}</string>
                <key>spriteSize</key>
                <string>{173,210}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{2581,1},{173,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-35}</string>
                <key>spriteSize</key>
                <string>{177,216}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{2403,1},{177,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-33}</string>
                <key>spriteSize</key>
                <string>{179,220}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{1,287},{179,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-31}</string>
                <key>spriteSize</key>
                <string>{183,224}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{2397,228},{183,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-29}</string>
                <key>spriteSize</key>
                <string>{183,226}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{2219,1},{183,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-28}</string>
                <key>spriteSize</key>
                <string>{185,228}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{2157,231},{185,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-28}</string>
                <key>spriteSize</key>
                <string>{185,229}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{2033,1},{185,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-27}</string>
                <key>spriteSize</key>
                <string>{187,231}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{1969,235},{187,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-25}</string>
                <key>spriteSize</key>
                <string>{187,235}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{1689,239},{187,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-70}</string>
                <key>spriteSize</key>
                <string>{101,146}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{2921,369},{101,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-24}</string>
                <key>spriteSize</key>
                <string>{189,237}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{1481,1},{189,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-23}</string>
                <key>spriteSize</key>
                <string>{191,238}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{1317,241},{191,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-22}</string>
                <key>spriteSize</key>
                <string>{195,240}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{1121,243},{195,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{193,242}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{921,1},{193,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-19}</string>
                <key>spriteSize</key>
                <string>{195,242}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{739,245},{195,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-16}</string>
                <key>spriteSize</key>
                <string>{191,245}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{173,1},{191,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{187,243}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{181,247},{187,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-15}</string>
                <key>spriteSize</key>
                <string>{185,243}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{365,1},{185,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-14}</string>
                <key>spriteSize</key>
                <string>{183,243}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{555,245},{183,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{183,243}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{737,1},{183,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-59}</string>
                <key>spriteSize</key>
                <string>{129,168}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{3083,1},{129,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-11}</string>
                <key>spriteSize</key>
                <string>{185,243}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{369,245},{185,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{185,243}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{551,1},{185,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{183,241}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{1115,1},{183,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{185,241}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{935,244},{185,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{181,239}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{1299,1},{181,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{179,237}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{1509,239},{179,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-3}</string>
                <key>spriteSize</key>
                <string>{135,237}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{1671,1},{135,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-2}</string>
                <key>spriteSize</key>
                <string>{135,235}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{1807,1},{135,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{91,235}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{1877,237},{91,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{89,233}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{1943,1},{89,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-55}</string>
                <key>spriteSize</key>
                <string>{149,176}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{3077,266},{149,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,2}</string>
                <key>spriteSize</key>
                <string>{53,225}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{2343,228},{53,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-52}</string>
                <key>spriteSize</key>
                <string>{155,181}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{2921,187},{155,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-50}</string>
                <key>spriteSize</key>
                <string>{163,185}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{2919,1},{163,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-47}</string>
                <key>spriteSize</key>
                <string>{163,191}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{2755,1},{163,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{171,285}</string>
                <key>spriteSourceSize</key>
                <string>{213,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{171,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-42}</string>
                <key>spriteSize</key>
                <string>{169,202}</string>
                <key>spriteSourceSize</key>
                <string>{213,286}</string>
                <key>textureRect</key>
                <string>{{2751,212},{169,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mineExplosion.png</string>
            <key>size</key>
            <string>{3227,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae4981a7a0c4b92efbf8d11c805d574d:0cfcdc12591ebab68d8dd2268cf7d0b2:bd3ef6a094a8076ac0a9eb4297f9fde3$</string>
            <key>textureFileName</key>
            <string>mineExplosion.png</string>
        </dict>
    </dict>
</plist>
