<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mascot_anguish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{0,184},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mascot_arm_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{25,101},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mascot_arm_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,14}</string>
                <key>spriteSize</key>
                <string>{49,41}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{0,58},{49,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mascot_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,56}</string>
                <key>spriteSourceSize</key>
                <string>{51,56}</string>
                <key>textureRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mascot_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,10}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{25,138},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mascot_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{26,181},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mascot_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{0,101},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mascot_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-13}</string>
                <key>spriteSize</key>
                <string>{16,38}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{0,144},{16,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mascot_mortorboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,24}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{52,65}</string>
                <key>textureRect</key>
                <string>{{18,162},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mascot_tinyhat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,24}</string>
                <key>spriteSize</key>
                <string>{18,11}</string>
                <key>spriteSourceSize</key>
                <string>{50,65}</string>
                <key>textureRect</key>
                <string>{{26,205},{18,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mascot.png</string>
            <key>size</key>
            <string>{51,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57ff757687cec69536eec21b4d15b637:7f2f325a39a09d6a03ece2dbd52b7c15:2daa9d7e129a57a82931724893e2cfea$</string>
            <key>textureFileName</key>
            <string>mascot.png</string>
        </dict>
    </dict>
</plist>
