<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>controls_gameplay_btn_arch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{125,156},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_break.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{124,122}</string>
                <key>textureRect</key>
                <string>{{0,20},{124,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_eject.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,122}</string>
                <key>spriteSourceSize</key>
                <string>{125,122}</string>
                <key>textureRect</key>
                <string>{{126,32},{125,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_grab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,152}</string>
                <key>spriteSourceSize</key>
                <string>{151,152}</string>
                <key>textureRect</key>
                <string>{{279,292},{151,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>controls_gameplay_btn_jet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{253,43},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{124,122}</string>
                <key>textureRect</key>
                <string>{{377,43},{124,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_lean.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,152}</string>
                <key>spriteSourceSize</key>
                <string>{151,152}</string>
                <key>textureRect</key>
                <string>{{0,444},{151,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>controls_gameplay_btn_move.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{154,445},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,122}</string>
                <key>spriteSourceSize</key>
                <string>{123,122}</string>
                <key>textureRect</key>
                <string>{{0,144},{123,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_pushup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{251,167},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_reset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{125,292},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_superman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,123}</string>
                <key>spriteSourceSize</key>
                <string>{125,123}</string>
                <key>textureRect</key>
                <string>{{0,268},{125,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>controls_gameplay_btn_tuck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{377,167},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_meter_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,141}</string>
                <key>spriteSourceSize</key>
                <string>{30,141}</string>
                <key>textureRect</key>
                <string>{{129,0},{30,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>controls_meter_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,127}</string>
                <key>spriteSourceSize</key>
                <string>{18,127}</string>
                <key>textureRect</key>
                <string>{{0,0},{18,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>controls_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,170}</string>
                <key>spriteSourceSize</key>
                <string>{172,170}</string>
                <key>textureRect</key>
                <string>{{308,445},{172,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_timer_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,41}</string>
                <key>spriteSourceSize</key>
                <string>{206,41}</string>
                <key>textureRect</key>
                <string>{{272,0},{206,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>controls_gameplay.png</string>
            <key>size</key>
            <string>{501,615}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68481431adfc580e02d50a2e23200a9d:5b399383a8d43ebaacff1c06265321b6:756f0cb468b32866250a242c55174e17$</string>
            <key>textureFileName</key>
            <string>controls_gameplay.png</string>
        </dict>
    </dict>
</plist>
