<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_particle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{50,409},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{14,12}</string>
                <key>textureRect</key>
                <string>{{48,435},{14,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{50,422},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_particle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,10}</string>
                <key>spriteSourceSize</key>
                <string>{14,10}</string>
                <key>textureRect</key>
                <string>{{51,85},{14,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{40,189},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{36,272},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{1,312},{22,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{37,220},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,16}</string>
                <key>spriteSourceSize</key>
                <string>{29,16}</string>
                <key>textureRect</key>
                <string>{{1,354},{29,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{34,329},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{1,262},{28,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{33,354},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,16}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{1,293},{32,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{26,409},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metal_pieces_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{14,12}</string>
                <key>textureRect</key>
                <string>{{48,452},{14,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>metal_pieces_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,16}</string>
                <key>textureRect</key>
                <string>{{51,66},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metal_pieces_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,10}</string>
                <key>spriteSourceSize</key>
                <string>{14,10}</string>
                <key>textureRect</key>
                <string>{{51,102},{14,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>metal_pieces_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{47,469},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark_particle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{19,20}</string>
                <key>textureRect</key>
                <string>{{1,448},{19,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spark_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{1,425},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{19,20}</string>
                <key>textureRect</key>
                <string>{{24,455},{19,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>triscuits_particle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,9}</string>
                <key>spriteSourceSize</key>
                <string>{10,9}</string>
                <key>textureRect</key>
                <string>{{23,477},{10,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>triscuits_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{1,401},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triscuits_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{1,470},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>van_glass_shard_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,69}</string>
                <key>spriteSourceSize</key>
                <string>{45,69}</string>
                <key>textureRect</key>
                <string>{{1,107},{45,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>van_glass_shard_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,69}</string>
                <key>textureRect</key>
                <string>{{1,35},{47,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>van_glass_shard_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,31}</string>
                <key>spriteSourceSize</key>
                <string>{53,31}</string>
                <key>textureRect</key>
                <string>{{1,1},{53,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>van_glass_shard_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,61}</string>
                <key>spriteSourceSize</key>
                <string>{33,61}</string>
                <key>textureRect</key>
                <string>{{1,198},{33,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,32}</string>
                <key>spriteSourceSize</key>
                <string>{12,32}</string>
                <key>textureRect</key>
                <string>{{49,119},{12,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,36}</string>
                <key>spriteSourceSize</key>
                <string>{16,36}</string>
                <key>textureRect</key>
                <string>{{1,179},{16,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,28}</string>
                <key>spriteSourceSize</key>
                <string>{8,28}</string>
                <key>textureRect</key>
                <string>{{1,390},{8,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,12}</string>
                <key>spriteSourceSize</key>
                <string>{32,12}</string>
                <key>textureRect</key>
                <string>{{49,154},{32,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,14}</string>
                <key>spriteSourceSize</key>
                <string>{30,14}</string>
                <key>textureRect</key>
                <string>{{1,337},{30,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{32,390},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{37,249},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{36,291},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{36,310},{16,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{25,432},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,10}</string>
                <key>spriteSourceSize</key>
                <string>{28,10}</string>
                <key>textureRect</key>
                <string>{{51,35},{28,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,14}</string>
                <key>spriteSourceSize</key>
                <string>{28,14}</string>
                <key>textureRect</key>
                <string>{{1,373},{28,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,8}</string>
                <key>spriteSourceSize</key>
                <string>{28,8}</string>
                <key>textureRect</key>
                <string>{{32,379},{28,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>particles.png</string>
            <key>size</key>
            <string>{62,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d79ef3a2fcc07b9fc894d9ad8aa4a224:f5bfcce3fc742356246ffab4f7b2da8c:862ffd2ecc13b36e3795ce1149c4b6f0$</string>
            <key>textureFileName</key>
            <string>particles.png</string>
        </dict>
    </dict>
</plist>
