<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>irresponsible_dad_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{148,298}</string>
                <key>spriteSourceSize</key>
                <string>{260,472}</string>
                <key>textureRect</key>
                <string>{{340,322},{148,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-28}</string>
                <key>spriteSize</key>
                <string>{144,196}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{817,1},{144,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,32}</string>
                <key>spriteSize</key>
                <string>{144,130}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{817,198},{144,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{62,244}</string>
                <key>spriteSourceSize</key>
                <string>{160,360}</string>
                <key>textureRect</key>
                <string>{{580,1},{62,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-13}</string>
                <key>spriteSize</key>
                <string>{68,266}</string>
                <key>spriteSourceSize</key>
                <string>{160,360}</string>
                <key>textureRect</key>
                <string>{{444,1},{68,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{64,236}</string>
                <key>spriteSourceSize</key>
                <string>{160,360}</string>
                <key>textureRect</key>
                <string>{{580,246},{64,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{66,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,360}</string>
                <key>textureRect</key>
                <string>{{513,1},{66,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-5}</string>
                <key>spriteSize</key>
                <string>{164,322}</string>
                <key>spriteSourceSize</key>
                <string>{240,400}</string>
                <key>textureRect</key>
                <string>{{114,1},{164,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-4}</string>
                <key>spriteSize</key>
                <string>{164,320}</string>
                <key>spriteSourceSize</key>
                <string>{240,400}</string>
                <key>textureRect</key>
                <string>{{279,1},{164,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{140,156}</string>
                <key>spriteSourceSize</key>
                <string>{240,320}</string>
                <key>textureRect</key>
                <string>{{639,311},{140,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,226}</string>
                <key>spriteSourceSize</key>
                <string>{144,312}</string>
                <key>textureRect</key>
                <string>{{643,1},{88,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,212}</string>
                <key>spriteSourceSize</key>
                <string>{144,312}</string>
                <key>textureRect</key>
                <string>{{732,1},{80,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{112,342}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{114,338}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{1,344},{114,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_irresponsible_dad_sprites.png</string>
            <key>size</key>
            <string>{962,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bddfd8ad966accb1fb7ff6e879b6397:b8fbbaac5399db9c8b070e189403d21f:0af9a66e96915b4427f951633ad147be$</string>
            <key>textureFileName</key>
            <string>character_select_irresponsible_dad_sprites.png</string>
        </dict>
    </dict>
</plist>
