<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheelchair_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{158,280}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{326,325},{158,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{142,186}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{346,138},{142,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{82,248}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{84,634},{82,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-14}</string>
                <key>spriteSize</key>
                <string>{82,276}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{1,606},{82,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{72,236}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{84,561},{72,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{72,264}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{321,606},{72,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-1}</string>
                <key>spriteSize</key>
                <string>{174,324}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{1,229},{174,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-1}</string>
                <key>spriteSize</key>
                <string>{156,324}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{1,404},{156,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{346,1},{146,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{84,222}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{394,606},{84,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{80,212}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{167,634},{80,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{114,344}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{112,344}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{1,116},{112,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_wheelchair_guy_sprites.png</string>
            <key>size</key>
            <string>{493,883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1c1f9c627caa8f09e9a2059c3f251b6:b843fdfd8ecd954f1b647f15b770096c:e50874b917f7fdd9ac57b791315ed4fb$</string>
            <key>textureFileName</key>
            <string>character_select_wheelchair_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
