<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>business_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{204,350}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-20}</string>
                <key>spriteSize</key>
                <string>{132,192}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{388,330},{132,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,20}</string>
                <key>spriteSize</key>
                <string>{148,166}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{315,708},{148,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{70,246}</string>
                <key>spriteSourceSize</key>
                <string>{240,480}</string>
                <key>textureRect</key>
                <string>{{80,705},{70,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{74,272}</string>
                <key>spriteSourceSize</key>
                <string>{240,480}</string>
                <key>textureRect</key>
                <string>{{313,348},{74,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{78,238}</string>
                <key>spriteSourceSize</key>
                <string>{240,480}</string>
                <key>textureRect</key>
                <string>{{151,705},{78,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{78,266}</string>
                <key>spriteSourceSize</key>
                <string>{240,480}</string>
                <key>textureRect</key>
                <string>{{1,705},{78,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-3}</string>
                <key>spriteSize</key>
                <string>{158,328}</string>
                <key>spriteSourceSize</key>
                <string>{240,480}</string>
                <key>textureRect</key>
                <string>{{154,352},{158,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-3}</string>
                <key>spriteSize</key>
                <string>{160,328}</string>
                <key>spriteSourceSize</key>
                <string>{240,480}</string>
                <key>textureRect</key>
                <string>{{357,1},{160,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{184,136}</string>
                <key>spriteSourceSize</key>
                <string>{240,480}</string>
                <key>textureRect</key>
                <string>{{388,523},{184,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{84,228}</string>
                <key>spriteSourceSize</key>
                <string>{240,480}</string>
                <key>textureRect</key>
                <string>{{230,681},{84,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,214}</string>
                <key>spriteSourceSize</key>
                <string>{240,480}</string>
                <key>textureRect</key>
                <string>{{315,875},{80,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{152,352}</string>
                <key>spriteSourceSize</key>
                <string>{240,480}</string>
                <key>textureRect</key>
                <string>{{1,352},{152,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{150,346}</string>
                <key>spriteSourceSize</key>
                <string>{240,480}</string>
                <key>textureRect</key>
                <string>{{206,1},{150,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_business_guy_sprites.png</string>
            <key>size</key>
            <string>{530,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a8d9455365b02407d030e01ab0c5fba:90c1d6d791f3a6aed3d20c776a88b0cc:211e9a47207ceee354062a418f6f09bc$</string>
            <key>textureFileName</key>
            <string>character_select_business_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
