<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>irresponsible_dad_kid_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{94,154}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{355,1},{94,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-13}</string>
                <key>spriteSize</key>
                <string>{110,146}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{450,1},{110,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{40,134}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{299,186},{40,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{40,134}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{515,148},{40,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{40,134}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{561,1},{40,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{40,134}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{602,1},{40,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-3}</string>
                <key>spriteSize</key>
                <string>{98,192}</string>
                <key>spriteSourceSize</key>
                <string>{200,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-3}</string>
                <key>spriteSize</key>
                <string>{98,192}</string>
                <key>spriteSourceSize</key>
                <string>{200,360}</string>
                <key>textureRect</key>
                <string>{{100,1},{98,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{434,156},{96,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_kid_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,148}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{150,194},{54,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_kid_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,148}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{1,194},{56,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_kid_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{76,184}</string>
                <key>spriteSourceSize</key>
                <string>{120,360}</string>
                <key>textureRect</key>
                <string>{{278,1},{76,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{78,184}</string>
                <key>spriteSourceSize</key>
                <string>{120,360}</string>
                <key>textureRect</key>
                <string>{{199,1},{78,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_irresponsible_dad_kid_sprites.png</string>
            <key>size</key>
            <string>{650,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e15b855cb03a65535d146e1ed363524a:1b28ccd02c0189197a27a67c2bcaf133:d1cd87e854f8233dd308f7b0cb3365d1$</string>
            <key>textureFileName</key>
            <string>character_select_irresponsible_dad_kid_sprites.png</string>
        </dict>
    </dict>
</plist>
