<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effective_shopper_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{354,324}</string>
                <key>spriteSourceSize</key>
                <string>{440,520}</string>
                <key>textureRect</key>
                <string>{{1,1},{354,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-45}</string>
                <key>spriteSize</key>
                <string>{224,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1257},{224,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effective_shopper_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,246}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{228,850},{88,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{88,262}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{356,1},{88,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,246}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{317,587},{88,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{88,262}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{228,587},{88,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-7}</string>
                <key>spriteSize</key>
                <string>{176,228}</string>
                <key>spriteSourceSize</key>
                <string>{320,560}</string>
                <key>textureRect</key>
                <string>{{254,1097},{176,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effective_shopper_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-7}</string>
                <key>spriteSize</key>
                <string>{176,226}</string>
                <key>spriteSourceSize</key>
                <string>{320,560}</string>
                <key>textureRect</key>
                <string>{{254,1274},{176,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effective_shopper_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{342,260}</string>
                <key>spriteSourceSize</key>
                <string>{520,440}</string>
                <key>textureRect</key>
                <string>{{1,326},{342,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,220}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{317,834},{122,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,220}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{344,326},{122,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{226,334}</string>
                <key>spriteSourceSize</key>
                <string>{320,560}</string>
                <key>textureRect</key>
                <string>{{1,587},{226,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{226,334}</string>
                <key>spriteSourceSize</key>
                <string>{320,560}</string>
                <key>textureRect</key>
                <string>{{1,922},{226,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_effective_shopper_sprites.png</string>
            <key>size</key>
            <string>{483,1482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eab96b8dfd38cc63bf1cac75bccc4ba:5e9dfc3267e574c97ca58bdaabbe4cea:f573c0d044c333b4d1441b2c16568c61$</string>
            <key>textureFileName</key>
            <string>character_select_effective_shopper_sprites.png</string>
        </dict>
    </dict>
</plist>
