<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moped_girl_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,278}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{1,400},{122,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-19}</string>
                <key>spriteSize</key>
                <string>{126,164}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{304,230},{126,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,222}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{60,244}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{246,58},{60,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,222}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{224,1},{56,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{58,244}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{1,58},{58,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-8}</string>
                <key>spriteSize</key>
                <string>{124,326}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{1,523},{124,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-8}</string>
                <key>spriteSize</key>
                <string>{124,326}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{328,357},{124,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{118,110}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{363,119},{118,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{1,117},{62,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{182,119},{62,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{108,302}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{1,182},{108,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{108,302}</string>
                <key>spriteSourceSize</key>
                <string>{280,480}</string>
                <key>textureRect</key>
                <string>{{1,291},{108,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_moped_girl_sprites.png</string>
            <key>size</key>
            <string>{491,684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ae7a31346de8b4470c88e99008805f8:f1b399a92bf305fc60e8ed33101281f8:8d5e136d816db7998d0eb5b239279ae8$</string>
            <key>textureFileName</key>
            <string>character_select_moped_girl_sprites.png</string>
        </dict>
    </dict>
</plist>
