<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pogo_stick_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{164,298}</string>
                <key>spriteSourceSize</key>
                <string>{260,472}</string>
                <key>textureRect</key>
                <string>{{285,318},{164,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pogo_stick_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-29}</string>
                <key>spriteSize</key>
                <string>{144,198}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{584,282},{144,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,14}</string>
                <key>spriteSize</key>
                <string>{136,152}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,346},{136,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{74,252}</string>
                <key>spriteSourceSize</key>
                <string>{160,360}</string>
                <key>textureRect</key>
                <string>{{624,74},{74,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pogo_stick_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{70,280}</string>
                <key>spriteSourceSize</key>
                <string>{160,360}</string>
                <key>textureRect</key>
                <string>{{553,1},{70,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{72,244}</string>
                <key>spriteSourceSize</key>
                <string>{160,360}</string>
                <key>textureRect</key>
                <string>{{624,149},{72,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pogo_stick_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{72,270}</string>
                <key>spriteSourceSize</key>
                <string>{160,360}</string>
                <key>textureRect</key>
                <string>{{624,1},{72,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pogo_stick_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-2}</string>
                <key>spriteSize</key>
                <string>{160,316}</string>
                <key>spriteSourceSize</key>
                <string>{240,400}</string>
                <key>textureRect</key>
                <string>{{231,1},{160,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-1}</string>
                <key>spriteSize</key>
                <string>{160,316}</string>
                <key>spriteSourceSize</key>
                <string>{240,400}</string>
                <key>textureRect</key>
                <string>{{392,1},{160,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{146,156}</string>
                <key>spriteSourceSize</key>
                <string>{240,320}</string>
                <key>textureRect</key>
                <string>{{138,344},{146,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{88,228}</string>
                <key>spriteSourceSize</key>
                <string>{144,312}</string>
                <key>textureRect</key>
                <string>{{729,222},{88,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{84,224}</string>
                <key>spriteSourceSize</key>
                <string>{144,312}</string>
                <key>textureRect</key>
                <string>{{818,222},{84,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{114,344}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{114,342}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{116,1},{114,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_pogo_stick_guy_sprites.png</string>
            <key>size</key>
            <string>{903,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5ce3c30720c2643de66aeb92b705ce2:28373cea97c61c82e5c1214b3dd78fc1:a917b4647963a20564c09f7135022709$</string>
            <key>textureFileName</key>
            <string>character_select_pogo_stick_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
