<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>irresponsible_dad_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,37}</string>
                <key>spriteSourceSize</key>
                <string>{51,37}</string>
                <key>textureRect</key>
                <string>{{160,1620},{51,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chestChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,65}</string>
                <key>spriteSourceSize</key>
                <string>{56,65}</string>
                <key>textureRect</key>
                <string>{{215,1399},{56,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chestChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,73}</string>
                <key>spriteSourceSize</key>
                <string>{57,73}</string>
                <key>textureRect</key>
                <string>{{211,433},{57,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chestChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{52,65}</string>
                <key>textureRect</key>
                <string>{{213,1531},{52,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chestChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{46,80}</string>
                <key>textureRect</key>
                <string>{{223,1067},{46,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{76,150}</string>
                <key>spriteSourceSize</key>
                <string>{130,236}</string>
                <key>textureRect</key>
                <string>{{67,329},{76,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{82,150}</string>
                <key>spriteSourceSize</key>
                <string>{130,236}</string>
                <key>textureRect</key>
                <string>{{87,163},{82,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,49}</string>
                <key>spriteSourceSize</key>
                <string>{82,49}</string>
                <key>textureRect</key>
                <string>{{129,1509},{82,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_headChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{211,508},{46,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_headChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,42}</string>
                <key>textureRect</key>
                <string>{{1,1623},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_headChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,28}</string>
                <key>spriteSourceSize</key>
                <string>{35,28}</string>
                <key>textureRect</key>
                <string>{{223,1037},{35,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_headChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{33,1623},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{74,100}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{65,1259},{74,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{147,1435},{66,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,47}</string>
                <key>spriteSourceSize</key>
                <string>{35,47}</string>
                <key>textureRect</key>
                <string>{{116,1616},{35,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,16}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{135,483},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_hipWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{61,1495},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_intestine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{58,15}</string>
                <key>textureRect</key>
                <string>{{151,453},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{32,124}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{174,771},{32,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{36,134}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{233,153},{36,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,126}</string>
                <key>spriteSourceSize</key>
                <string>{81,180}</string>
                <key>textureRect</key>
                <string>{{122,895},{37,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{34,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{161,897},{34,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{34,132}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{111,1361},{34,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{39,122}</string>
                <key>spriteSourceSize</key>
                <string>{81,180}</string>
                <key>textureRect</key>
                <string>{{130,653},{39,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-3}</string>
                <key>spriteSize</key>
                <string>{84,162}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1,165},{84,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-9}</string>
                <key>spriteSize</key>
                <string>{84,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{173,1},{84,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{44,122}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{117,1135},{44,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{54,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{119,1023},{54,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{84,162}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-3}</string>
                <key>spriteSize</key>
                <string>{84,160}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{87,1},{84,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{44,128}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{65,1361},{44,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{50,124}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{65,1133},{50,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,72}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{130,236}</string>
                <key>textureRect</key>
                <string>{{153,1560},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{72,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{141,1259},{72,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvisChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,63}</string>
                <key>spriteSourceSize</key>
                <string>{57,63}</string>
                <key>textureRect</key>
                <string>{{215,1466},{57,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvisChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{104,1563},{47,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvisChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{213,1598},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvisWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,44}</string>
                <key>spriteSize</key>
                <string>{67,52}</string>
                <key>spriteSourceSize</key>
                <string>{121,160}</string>
                <key>textureRect</key>
                <string>{{197,981},{67,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_shoulder_wound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,21}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{130,236}</string>
                <key>textureRect</key>
                <string>{{147,1341},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_spine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,21}</string>
                <key>spriteSourceSize</key>
                <string>{12,21}</string>
                <key>textureRect</key>
                <string>{{175,1019},{12,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,116}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{126,777},{46,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-22}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{215,1239},{52,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{34,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{1,1549},{34,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{57,132}</string>
                <key>spriteSourceSize</key>
                <string>{73,156}</string>
                <key>textureRect</key>
                <string>{{67,753},{57,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{46,102}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{175,1045},{46,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{241,593},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,17}</string>
                <key>spriteSize</key>
                <string>{56,118}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{61,1013},{56,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{60,100}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{135,551},{60,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,108}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{163,1149},{42,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{46,88}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{207,1149},{46,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{34,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{68,1563},{34,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{41,116}</string>
                <key>spriteSourceSize</key>
                <string>{73,156}</string>
                <key>textureRect</key>
                <string>{{171,653},{41,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{42,98}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{197,553},{42,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{241,535},{34,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{42,106}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{211,325},{42,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{72,156}</string>
                <key>textureRect</key>
                <string>{{214,653},{46,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{58,172}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1,1031},{58,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-35}</string>
                <key>spriteSize</key>
                <string>{59,136}</string>
                <key>spriteSourceSize</key>
                <string>{81,240}</string>
                <key>textureRect</key>
                <string>{{69,615},{59,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-47}</string>
                <key>spriteSize</key>
                <string>{50,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{197,905},{50,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{62,168}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1,1205},{62,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{58,176}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1,853},{58,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-48}</string>
                <key>spriteSize</key>
                <string>{49,76}</string>
                <key>spriteSourceSize</key>
                <string>{81,240}</string>
                <key>textureRect</key>
                <string>{{214,747},{49,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{64,172}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1,679},{64,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-37}</string>
                <key>spriteSize</key>
                <string>{64,132}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{69,481},{64,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{58,170}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{173,153},{58,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-31}</string>
                <key>spriteSize</key>
                <string>{59,124}</string>
                <key>spriteSourceSize</key>
                <string>{81,240}</string>
                <key>textureRect</key>
                <string>{{61,887},{59,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-42}</string>
                <key>spriteSize</key>
                <string>{48,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{215,1321},{48,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{66,172}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1,505},{66,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{58,172}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1,1375},{58,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-43}</string>
                <key>spriteSize</key>
                <string>{47,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,240}</string>
                <key>textureRect</key>
                <string>{{208,825},{47,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{64,174}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1,329},{64,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-30}</string>
                <key>spriteSize</key>
                <string>{64,126}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{145,325},{64,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>irresponsible_dad_sprites.png</string>
            <key>size</key>
            <string>{276,1666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:915bb9a1cb287f57649d2074d097edfa:142432f38e40f6184475e46a9c69da67:045b6b5df72415409a76c1f7027dd80d$</string>
            <key>textureFileName</key>
            <string>irresponsible_dad_sprites.png</string>
        </dict>
    </dict>
</plist>
