<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moped_girl_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,37}</string>
                <key>spriteSourceSize</key>
                <string>{51,37}</string>
                <key>textureRect</key>
                <string>{{293,740},{51,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_chestChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,72}</string>
                <key>spriteSourceSize</key>
                <string>{49,72}</string>
                <key>textureRect</key>
                <string>{{241,495},{49,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_chestChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{235,893},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_chestChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,77}</string>
                <key>spriteSourceSize</key>
                <string>{44,77}</string>
                <key>textureRect</key>
                <string>{{261,795},{44,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_chestChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,82}</string>
                <key>spriteSourceSize</key>
                <string>{41,82}</string>
                <key>textureRect</key>
                <string>{{249,619},{41,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{59,475},{62,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_chest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,138}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{59,335},{66,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,35}</string>
                <key>spriteSourceSize</key>
                <string>{60,35}</string>
                <key>textureRect</key>
                <string>{{191,300},{60,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_headChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,31}</string>
                <key>spriteSourceSize</key>
                <string>{47,31}</string>
                <key>textureRect</key>
                <string>{{299,296},{47,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_headChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,40}</string>
                <key>spriteSourceSize</key>
                <string>{33,40}</string>
                <key>textureRect</key>
                <string>{{305,571},{33,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_headChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{317,264},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_headChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,53}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{292,516},{37,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{57,869},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,955},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,47}</string>
                <key>spriteSourceSize</key>
                <string>{35,47}</string>
                <key>textureRect</key>
                <string>{{307,779},{35,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_hipWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{129,953},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_intestine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,14}</string>
                <key>spriteSourceSize</key>
                <string>{53,14}</string>
                <key>textureRect</key>
                <string>{{237,283},{53,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{155,837},{30,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{32,124}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{283,151},{32,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{30,114}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{123,837},{30,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{179,349},{30,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{30,124}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{175,463},{30,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{183,589},{30,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{64,164}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,169},{64,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{64,166}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{44,128}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{237,153},{44,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,16}</string>
                <key>spriteSize</key>
                <string>{50,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{127,323},{50,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{64,164}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{67,1},{64,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{64,162}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{133,1},{64,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{46,132}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{127,455},{46,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{44,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{191,165},{44,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,74}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{197,979},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{67,955},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_pelvisChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,46}</string>
                <key>textureRect</key>
                <string>{{249,571},{54,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_pelvisChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{35,49}</string>
                <key>textureRect</key>
                <string>{{299,329},{35,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_pelvisChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,57}</string>
                <key>spriteSourceSize</key>
                <string>{35,57}</string>
                <key>textureRect</key>
                <string>{{293,681},{35,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_pelvisWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,25}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{297,484},{54,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_shoulder_wound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,38}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{245,429},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_spine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,19}</string>
                <key>spriteSourceSize</key>
                <string>{11,19}</string>
                <key>textureRect</key>
                <string>{{323,1},{11,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{207,495},{32,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-15}</string>
                <key>spriteSize</key>
                <string>{38,64}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{281,951},{38,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-21}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{297,432},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{38,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{183,703},{38,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{34,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{223,703},{34,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-20}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{299,380},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{38,98}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{187,805},{38,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{193,905},{40,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{211,401},{32,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{292,619},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{321,951},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{32,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{215,605},{32,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{32,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{259,703},{32,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{307,828},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{32,94}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{227,797},{32,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{292,885},{36,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,152}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,489},{56,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-29}</string>
                <key>spriteSize</key>
                <string>{64,124}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{57,743},{64,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-46}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{255,367},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,152}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,643},{54,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{64,154}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{67,167},{64,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-46}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{211,337},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{54,152}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,797},{54,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-30}</string>
                <key>spriteSize</key>
                <string>{54,122}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{125,713},{54,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,152}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,335},{56,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-31}</string>
                <key>spriteSize</key>
                <string>{64,124}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{59,617},{64,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-46}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{255,305},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{56,150}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{133,165},{56,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{64,150}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{199,1},{64,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-45}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{235,951},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,148}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{265,1},{56,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-32}</string>
                <key>spriteSize</key>
                <string>{56,122}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{125,589},{56,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moped_girl_sprites.png</string>
            <key>size</key>
            <string>{354,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46e7fc36273fa8e06c263a32cfb71cad:cead74519560ea2e038890878385a605:f04fb11b6effd0d72ad6738ae6f21996$</string>
            <key>textureFileName</key>
            <string>moped_girl_sprites.png</string>
        </dict>
    </dict>
</plist>
