<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moped_guy_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,37}</string>
                <key>spriteSourceSize</key>
                <string>{51,37}</string>
                <key>textureRect</key>
                <string>{{494,484},{51,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_chestChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,73}</string>
                <key>spriteSourceSize</key>
                <string>{57,73}</string>
                <key>textureRect</key>
                <string>{{435,503},{57,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_chestChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,65}</string>
                <key>spriteSourceSize</key>
                <string>{56,65}</string>
                <key>textureRect</key>
                <string>{{281,785},{56,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_chestChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{52,65}</string>
                <key>textureRect</key>
                <string>{{479,417},{52,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_chestChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,80}</string>
                <key>spriteSourceSize</key>
                <string>{47,80}</string>
                <key>textureRect</key>
                <string>{{385,747},{47,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,150}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{225,177},{76,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_chest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{423,1},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,48}</string>
                <key>spriteSourceSize</key>
                <string>{79,48}</string>
                <key>textureRect</key>
                <string>{{179,811},{79,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_headChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,31}</string>
                <key>spriteSourceSize</key>
                <string>{48,31}</string>
                <key>textureRect</key>
                <string>{{494,574},{48,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_headChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,40}</string>
                <key>textureRect</key>
                <string>{{504,763},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_headChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{505,57},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_headChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{35,39}</string>
                <key>textureRect</key>
                <string>{{328,547},{35,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{76,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{127,347},{76,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{365,443},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,47}</string>
                <key>spriteSourceSize</key>
                <string>{35,47}</string>
                <key>textureRect</key>
                <string>{{494,523},{35,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_hipWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{365,519},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_intestine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{58,15}</string>
                <key>textureRect</key>
                <string>{{83,317},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{335,315},{38,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{40,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{133,583},{40,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{245,329},{42,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{38,122}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{375,315},{38,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{38,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{205,347},{38,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{44,122}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{289,329},{44,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{80,166}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,169},{80,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{92,152}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{83,1},{92,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,18}</string>
                <key>spriteSize</key>
                <string>{60,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{69,471},{60,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{64,114}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{131,453},{64,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{80,166}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{83,155},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{52,132}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{67,725},{52,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,13}</string>
                <key>spriteSize</key>
                <string>{56,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{121,725},{56,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,75}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{475,283},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{197,497},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_pelvisChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{434,805},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_pelvisChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,51}</string>
                <key>spriteSourceSize</key>
                <string>{48,51}</string>
                <key>textureRect</key>
                <string>{{384,829},{48,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_pelvisChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{493,805},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_pelvisWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,39}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{434,747},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_shoulder_wound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,28}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{281,691},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_spine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,21}</string>
                <key>spriteSourceSize</key>
                <string>{13,21}</string>
                <key>textureRect</key>
                <string>{{416,417},{13,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{42,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{237,691},{42,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-22}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{373,587},{52,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-20}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{475,343},{46,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{56,132}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{69,337},{56,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{48,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{323,589},{48,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{481,607},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,16}</string>
                <key>spriteSize</key>
                <string>{56,118}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{179,691},{56,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{58,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{415,315},{58,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{279,581},{42,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{46,84}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{431,417},{46,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{42,64}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{339,799},{42,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{42,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{235,573},{42,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{42,98}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{273,457},{42,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{505,1},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{42,106}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{341,691},{42,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{317,453},{46,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{58,174}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{243,1},{58,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-38}</string>
                <key>spriteSize</key>
                <string>{58,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{369,177},{58,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-46}</string>
                <key>spriteSize</key>
                <string>{56,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{385,669},{56,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{64,170}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{177,1},{64,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{58,174}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{363,1},{58,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-47}</string>
                <key>spriteSize</key>
                <string>{52,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{443,667},{52,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{64,170}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,691},{64,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-40}</string>
                <key>spriteSize</key>
                <string>{64,132}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{303,177},{64,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{58,174}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{303,1},{58,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-34}</string>
                <key>spriteSize</key>
                <string>{62,124}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{69,599},{62,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-23}</string>
                <key>spriteSize</key>
                <string>{58,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{175,569},{58,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{66,176}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,337},{66,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{58,172}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{165,173},{58,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{52,78}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{427,587},{52,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{66,174}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,515},{66,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-33}</string>
                <key>spriteSize</key>
                <string>{66,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{429,153},{66,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moped_guy_sprites.png</string>
            <key>size</key>
            <string>{546,881}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ef4c38672c721793ab03a913abbf7bc:8ffc2603f0c36ed78bbf01031e8d1a9a:4953167c326ce540f90f0f7882d4ff86$</string>
            <key>textureFileName</key>
            <string>moped_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
