<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>bodies</key>
		<dict>
			<key>frontWheelShape</key>
			<dict>
				<key>pos</key>
				<string>{1,-1.128}</string>
				<key>radius</key>
				<real>0.36</real>
				<key>rot</key>
				<real>0</real>
			</dict>
			<key>backWheelShape</key>
			<dict>
				<key>pos</key>
				<string>{-0.488,-1.128}</string>
				<key>radius</key>
				<real>0.36</real>
				<key>rot</key>
				<real>0</real>
			</dict>
			<key>fork</key>
			<dict>
				<key>verts</key>
				<string>{1.016,-1.166}:{0.682,-0.358}:{0.458,-0.334}</string>
			</dict>
			<key>tank</key>
			<dict>
				<key>verts</key>
				<string>{0.084,-0.992}:{0.852,-0.638}:{0.87,-0.478}:{0.686,-0.478}:{0.084,-0.894}</string>
			</dict>
			<key>engine</key>
			<dict>
				<key>verts</key>
				<string>{-0.008,-1.178}:{0.204,-1.32}:{0.462,-1.294}:{0.462,-1}:{0.004,-0.878}</string>
			</dict>
			<key>middle</key>
			<dict>
				<key>verts</key>
				<string>{-0.518,-1.154}:{0.156,-1.162}:{-0.029,-0.656}:{-0.276,-0.656}</string>
			</dict>
			<key>rear</key>
			<dict>
				<key>verts</key>
				<string>{-0.87,-0.959}:{-0.152,-0.656}:{-0.796,-0.656}</string>
			</dict>
			<key>seat</key>
			<dict>
				<key>verts</key>
				<string>{-0.672,-0.638}:{0.046,-0.648}:{0.114,-0.474}:{-0.68,-0.462}</string>
			</dict>
		</dict>
		<key>joints</key>
		<dict>
			<key>handleAnchor</key>
			<string>{0.52,-0.304}</string>
			<key>footAnchor</key>
			<string>{0.098,-1.116}</string>
		</dict>
	</dict>
</plist>