<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bodies</key>
	<dict>
		<key>seatShape</key>
		<dict>
			<key>pos</key>
			<string>{-0.239,-0.332}</string>
			<key>size</key>
			<string>{0.044,0.269}</string>
			<key>rot</key>
			<real>0.202</real>
		</dict>
		<key>baseShape</key>
		<dict>
			<key>pos</key>
			<string>{0.544,-1.029}</string>
			<key>size</key>
			<string>{0.474,0.029}</string>
			<key>rot</key>
			<real>0</real>
		</dict>
		<key>shaftShape</key>
		<dict>
			<key>pos</key>
			<string>{0.857,-0.366}</string>
			<key>size</key>
			<string>{0.032,0.422}</string>
			<key>rot</key>
			<real>0.299</real>
		</dict>
		<key>handleShape</key>
		<dict>
			<key>pos</key>
			<string>{0.661,-0.017}</string>
			<key>size</key>
			<string>{0.053,0.098}</string>
			<key>rot</key>
			<real>-1.33</real>
		</dict>
		<key>cartShape</key>
		<dict>
			<key>pos</key>
			<string>{1.466,-0.36}</string>
			<key>size</key>
			<string>{0.029,0.267}</string>
			<key>rot</key>
			<real>-0.149</real>
		</dict>
		<key>box0</key>
		<dict>
			<key>pos</key>
			<string>{1.129,0.049}</string>
			<key>size</key>
			<string>{0.04,0.064}</string>
			<key>rot</key>
			<real>0.093</real>
		</dict>
		<key>box1</key>
		<dict>
			<key>pos</key>
			<string>{0.903,-0.124}</string>
			<key>size</key>
			<string>{0.048,0.26}</string>
			<key>rot</key>
			<real>0.196</real>
		</dict>
		<key>box2</key>
		<dict>
			<key>pos</key>
			<string>{1.323,0.026}</string>
			<key>size</key>
			<string>{0.08,0.12}</string>
			<key>rot</key>
			<real>-1.526</real>
		</dict>
		<key>box3</key>
		<dict>
			<key>pos</key>
			<string>{1.088,-0.319}</string>
			<key>size</key>
			<string>{0.072,0.228}</string>
			<key>rot</key>
			<real>0.005</real>
		</dict>
		<key>box4</key>
		<dict>
			<key>pos</key>
			<string>{1.299,-0.412}</string>
			<key>size</key>
			<string>{0.112,0.136}</string>
			<key>rot</key>
			<real>-0.105</real>
		</dict>
		<key>box5</key>
		<dict>
			<key>pos</key>
			<string>{1.312,-0.155}</string>
			<key>size</key>
			<string>{0.084,0.116}</string>
			<key>rot</key>
			<real>1.597</real>
		</dict>
		<key>box6</key>
		<dict>
			<key>pos</key>
			<string>{1.02,0.05}</string>
			<key>size</key>
			<string>{0.04,0.064}</string>
			<key>rot</key>
			<real>-2.931</real>
		</dict>
		<key>box7</key>
		<dict>
			<key>pos</key>
			<string>{1.34,0.208}</string>
			<key>size</key>
			<string>{0.036,0.084}</string>
			<key>rot</key>
			<real>2.095</real>
		</dict>
		<key>box8</key>
		<dict>
			<key>pos</key>
			<string>{1.17,0.182}</string>
			<key>size</key>
			<string>{0.036,0.084}</string>
			<key>rot</key>
			<real>1.469</real>
		</dict>
		<key>box9</key>
		<dict>
			<key>pos</key>
			<string>{1,0.166}</string>
			<key>size</key>
			<string>{0.036,0.084}</string>
			<key>rot</key>
			<real>1.825</real>
		</dict>
		<key>frontWheelShape</key>
		<dict>
			<key>pos</key>
			<string>{1.105,-0.988}</string>
			<key>radius</key>
			<real>0.182</real>
			<key>rot</key>
			<real>0</real>
		</dict>
		<key>backWheelShape</key>
		<dict>
			<key>pos</key>
			<string>{-0.143,-0.988}</string>
			<key>radius</key>
			<real>0.182</real>
			<key>rot</key>
			<real>0</real>
		</dict>
		<key>rear</key>
		<dict>
			<key>verts</key>
			<string>{-0.378,-1.049}:{0.274,-1.049}:{0.314,-0.593}:{-0.242,-0.587}</string>
		</dict>
		<key>front</key>
		<dict>
			<key>verts</key>
			<string>{0.83,-1.05}:{1.24,-1.05}:{1.32,-0.94}:{1.46,-0.59}:{0.91,-0.59}</string>
		</dict>
	</dict>
	<key>joints</key>
	<dict>
		<key>handleAnchor</key>
		<string>{0.6,-0.027}</string>
		<key>cartAnchor</key>
		<string>{1.403,-0.672}</string>
		<key>shaftAnchor</key>
		<string>{0.971,-0.742}</string>
	</dict>
</dict>
</plist>
