<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>bodies</key><dict><key>rodShape</key><dict><key>pos</key><string>{0.148,-1.178}</string><key>size</key><string>{0.04,0.5}</string><key>rot</key><real>-0.257</real></dict><key>frameShape</key><dict><key>pos</key><string>{0.231,-0.86}</string><key>size</key><string>{0.08,0.5}</string><key>rot</key><real>-0.257</real></dict></dict><key>joints</key><dict><key>handleAnchor</key><string>{0.345,-0.428}</string><key>footAnchor</key><string>{0.122,-1.274}</string></dict></dict></plist>

