<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>bodies</key>
		<dict>
			<key>chair1Shape</key>
			<dict>
				<key>pos</key>
				<string>{0.072,-0.496}</string>
				<key>size</key>
				<string>{0.36,0.42}</string>
				<key>rot</key>
				<real>0</real>
			</dict>
			<key>chair2Shape</key>
			<dict>
				<key>pos</key>
				<string>{-0.24,-0.368}</string>
				<key>size</key>
				<string>{0.048,0.548}</string>
				<key>rot</key>
				<real>0</real>
			</dict>
			<key>chair3Shape</key>
			<dict>
				<key>pos</key>
				<string>{0.072,-0.724}</string>
				<key>size</key>
				<string>{0.36,0.192}</string>
				<key>rot</key>
				<real>0</real>
			</dict>
			<key>bigWheelShape</key>
			<dict>
				<key>pos</key>
				<string>{-0.203,-0.681}</string>
				<key>radius</key>
				<real>0.4</real>
				<key>rot</key>
				<real>0</real>
			</dict>
			<key>smallWheelShape</key>
			<dict>
				<key>pos</key>
				<string>{0.421,-0.957}</string>
				<key>radius</key>
				<real>0.12</real>
				<key>rot</key>
				<real>0</real>
			</dict>
		</dict>
	</dict>
</plist>