<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_main_back_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{372,0},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_back_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{352,352},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_blue_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{372,88},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_blue_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{380,176},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_grey_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{380,264},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_grey_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{0,267},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_pink_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{88,267},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_pink_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{176,267},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_confirm_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{264,267},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_confirm_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{429,352},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{460,52},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_achievements.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{0,355},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_editor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{154,355},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{52,355},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_leaderboards.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{202,355},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_options.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{104,355},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{188,86}</string>
                <key>textureRect</key>
                <string>{{460,0},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{370,177}</string>
                <key>spriteSourceSize</key>
                <string>{372,177}</string>
                <key>textureRect</key>
                <string>{{0,0},{370,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_playbtn_blue_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,86}</string>
                <key>spriteSourceSize</key>
                <string>{188,86}</string>
                <key>textureRect</key>
                <string>{{0,179},{188,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_playbtn_blue_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,86}</string>
                <key>spriteSourceSize</key>
                <string>{188,86}</string>
                <key>textureRect</key>
                <string>{{190,179},{188,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu_main.png</string>
            <key>size</key>
            <string>{504,427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56674e9fb6d4b21315ed9728ea3e710f:a5e6cefe088a180d0dabbb8ff5f9552d:e4772d1fb01e14fbca2c72d72f0e9048$</string>
            <key>textureFileName</key>
            <string>menu_main.png</string>
        </dict>
    </dict>
</plist>
