<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biz_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{118,677},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biz_icon_bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{182,716},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSel_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{118,525},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSel_frame_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{118,424},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSel_frame_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{118,601},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSel_platform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{422,242}</string>
                <key>spriteSourceSize</key>
                <string>{434,244}</string>
                <key>textureRect</key>
                <string>{{1,1},{422,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dad_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{61,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{118,860},{61,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dad_icon_bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{61,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{181,899},{61,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mop_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{56,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{118,803},{56,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mop_icon_bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{56,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{182,842},{56,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pogo_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{194,525},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_icon_bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{194,589},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sho_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{118,740},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sho_icon_bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{182,779},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spotlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{116,556}</string>
                <key>spriteSourceSize</key>
                <string>{132,576}</string>
                <key>textureRect</key>
                <string>{{1,424},{116,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whe_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{194,653},{58,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whe_icon_bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{118,922},{58,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select.png</string>
            <key>size</key>
            <string>{254,981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ed401649d563173ebc7425c3203736f:ebe458889103319bf0559670e298675a:e2d511e229412edb62c8470e105fbce6$</string>
            <key>textureFileName</key>
            <string>character_select.png</string>
        </dict>
    </dict>
</plist>
