<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biz_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{241,249}</string>
                <key>spriteSourceSize</key>
                <string>{251,249}</string>
                <key>textureRect</key>
                <string>{{3166,466},{241,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biz_icon_bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{241,249}</string>
                <key>spriteSourceSize</key>
                <string>{251,249}</string>
                <key>textureRect</key>
                <string>{{3166,716},{241,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSel_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,300}</string>
                <key>spriteSourceSize</key>
                <string>{301,300}</string>
                <key>textureRect</key>
                <string>{{2083,466},{301,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charSel_frame_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1682,466},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSel_frame_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,300}</string>
                <key>spriteSourceSize</key>
                <string>{301,300}</string>
                <key>textureRect</key>
                <string>{{2384,466},{301,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charSel_platform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{1680,967}</string>
                <key>spriteSourceSize</key>
                <string>{1734,977}</string>
                <key>textureRect</key>
                <string>{{1,1},{1680,967}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dad_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{234,249}</string>
                <key>spriteSourceSize</key>
                <string>{250,249}</string>
                <key>textureRect</key>
                <string>{{3408,466},{234,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dad_icon_bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{234,249}</string>
                <key>spriteSourceSize</key>
                <string>{250,249}</string>
                <key>textureRect</key>
                <string>{{3658,466},{234,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mop_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{219,251}</string>
                <key>spriteSourceSize</key>
                <string>{249,251}</string>
                <key>textureRect</key>
                <string>{{2083,768},{219,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mop_icon_bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{219,251}</string>
                <key>spriteSourceSize</key>
                <string>{249,251}</string>
                <key>textureRect</key>
                <string>{{2335,768},{219,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pogo_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{232,251}</string>
                <key>spriteSourceSize</key>
                <string>{250,251}</string>
                <key>textureRect</key>
                <string>{{2685,466},{232,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_icon_bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{232,251}</string>
                <key>spriteSourceSize</key>
                <string>{250,251}</string>
                <key>textureRect</key>
                <string>{{2685,718},{232,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sho_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{247,249}</string>
                <key>spriteSourceSize</key>
                <string>{251,249}</string>
                <key>textureRect</key>
                <string>{{2918,466},{247,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sho_icon_bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{247,249}</string>
                <key>spriteSourceSize</key>
                <string>{251,249}</string>
                <key>textureRect</key>
                <string>{{2918,716},{247,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spotlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,8}</string>
                <key>spriteSize</key>
                <string>{464,2220}</string>
                <key>spriteSourceSize</key>
                <string>{528,2304}</string>
                <key>textureRect</key>
                <string>{{1682,1},{464,2220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whe_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{225,249}</string>
                <key>spriteSourceSize</key>
                <string>{249,249}</string>
                <key>textureRect</key>
                <string>{{3408,701},{225,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whe_icon_bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{225,249}</string>
                <key>spriteSourceSize</key>
                <string>{249,249}</string>
                <key>textureRect</key>
                <string>{{3658,716},{225,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select.png</string>
            <key>size</key>
            <string>{3903,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ed401649d563173ebc7425c3203736f:ebe458889103319bf0559670e298675a:e2d511e229412edb62c8470e105fbce6$</string>
            <key>textureFileName</key>
            <string>character_select.png</string>
        </dict>
    </dict>
</plist>
