<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>controls_gameplay_btn_arch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,327}</string>
                <key>spriteSourceSize</key>
                <string>{328,327}</string>
                <key>textureRect</key>
                <string>{{737,511},{328,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_break.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,325}</string>
                <key>spriteSourceSize</key>
                <string>{326,325}</string>
                <key>textureRect</key>
                <string>{{1396,402},{326,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>controls_gameplay_btn_eject.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,325}</string>
                <key>spriteSourceSize</key>
                <string>{327,325}</string>
                <key>textureRect</key>
                <string>{{330,861},{327,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_grab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,404}</string>
                <key>spriteSourceSize</key>
                <string>{403,404}</string>
                <key>textureRect</key>
                <string>{{461,0},{403,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_jet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,325}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1396,730},{325,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,325}</string>
                <key>spriteSourceSize</key>
                <string>{328,325}</string>
                <key>textureRect</key>
                <string>{{0,861},{328,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_lean.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,404}</string>
                <key>spriteSourceSize</key>
                <string>{402,404}</string>
                <key>textureRect</key>
                <string>{{866,0},{402,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_move.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,404}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{0,455},{404,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,324}</string>
                <key>spriteSourceSize</key>
                <string>{326,324}</string>
                <key>textureRect</key>
                <string>{{1067,736},{326,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_pushup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,327}</string>
                <key>spriteSourceSize</key>
                <string>{328,327}</string>
                <key>textureRect</key>
                <string>{{659,840},{328,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_reset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,400}</string>
                <key>spriteSourceSize</key>
                <string>{404,400}</string>
                <key>textureRect</key>
                <string>{{1270,0},{404,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_superman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,327}</string>
                <key>spriteSourceSize</key>
                <string>{329,327}</string>
                <key>textureRect</key>
                <string>{{406,511},{329,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_tuck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,327}</string>
                <key>spriteSourceSize</key>
                <string>{328,327}</string>
                <key>textureRect</key>
                <string>{{1067,406},{328,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>controls_meter_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,368}</string>
                <key>spriteSourceSize</key>
                <string>{75,368}</string>
                <key>textureRect</key>
                <string>{{1676,0},{75,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_meter_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,332}</string>
                <key>spriteSourceSize</key>
                <string>{40,332}</string>
                <key>textureRect</key>
                <string>{{989,840},{40,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{459,453}</string>
                <key>spriteSourceSize</key>
                <string>{459,453}</string>
                <key>textureRect</key>
                <string>{{0,0},{459,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_timer_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,103}</string>
                <key>spriteSourceSize</key>
                <string>{541,103}</string>
                <key>textureRect</key>
                <string>{{461,406},{541,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>controls_gameplay.png</string>
            <key>size</key>
            <string>{1751,1186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68481431adfc580e02d50a2e23200a9d:5b399383a8d43ebaacff1c06265321b6:756f0cb468b32866250a242c55174e17$</string>
            <key>textureFileName</key>
            <string>controls_gameplay.png</string>
        </dict>
    </dict>
</plist>
