<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pogo_stick_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,188}</string>
                <key>spriteSourceSize</key>
                <string>{30,188}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_rod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,148}</string>
                <key>spriteSourceSize</key>
                <string>{15,148}</string>
                <key>textureRect</key>
                <string>{{1,301},{15,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,110}</string>
                <key>spriteSourceSize</key>
                <string>{17,110}</string>
                <key>textureRect</key>
                <string>{{1,190},{17,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_pogo_stick_sprites.png</string>
            <key>size</key>
            <string>{32,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:452b4c1ef9e5357938322c709c463cc2:d4474cc3e62172c860a631986870de6e:0fd2e27d5fa10a93f85d7325477f790d$</string>
            <key>textureFileName</key>
            <string>character_select_pogo_stick_sprites.png</string>
        </dict>
    </dict>
</plist>
