<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>motor_cart_box_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{117,224},{15,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,99}</string>
                <key>spriteSourceSize</key>
                <string>{18,99}</string>
                <key>textureRect</key>
                <string>{{167,222},{18,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,45}</string>
                <key>spriteSourceSize</key>
                <string>{30,45}</string>
                <key>textureRect</key>
                <string>{{1,191},{30,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,85}</string>
                <key>spriteSourceSize</key>
                <string>{27,85}</string>
                <key>textureRect</key>
                <string>{{248,191},{27,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,85}</string>
                <key>spriteSourceSize</key>
                <string>{30,85}</string>
                <key>textureRect</key>
                <string>{{162,191},{30,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,51}</string>
                <key>spriteSourceSize</key>
                <string>{42,51}</string>
                <key>textureRect</key>
                <string>{{65,191},{42,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{32,191},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{142,224},{15,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,32}</string>
                <key>spriteSourceSize</key>
                <string>{14,32}</string>
                <key>textureRect</key>
                <string>{{117,191},{14,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,32}</string>
                <key>spriteSourceSize</key>
                <string>{14,32}</string>
                <key>textureRect</key>
                <string>{{132,191},{14,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,32}</string>
                <key>spriteSourceSize</key>
                <string>{14,32}</string>
                <key>textureRect</key>
                <string>{{147,191},{14,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,95}</string>
                <key>spriteSourceSize</key>
                <string>{147,95}</string>
                <key>textureRect</key>
                <string>{{342,1},{147,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,189}</string>
                <key>spriteSourceSize</key>
                <string>{340,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{340,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_handle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,144}</string>
                <key>spriteSourceSize</key>
                <string>{81,144}</string>
                <key>textureRect</key>
                <string>{{342,97},{81,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_shock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{267,219},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{424,97},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_motor_cart_sprites.png</string>
            <key>size</key>
            <string>{493,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e79f7739e0def20005433688091427a3:657e15d3f0bbd320f3645c0014689fab:fd62140b5a08d15759087a01570b103b$</string>
            <key>textureFileName</key>
            <string>character_select_motor_cart_sprites.png</string>
        </dict>
    </dict>
</plist>
