<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moped_backWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{186,2},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_backWheel_broken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,71}</string>
                <key>spriteSourceSize</key>
                <string>{42,71}</string>
                <key>textureRect</key>
                <string>{{111,100},{42,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_engine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{74,182},{53,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_fork.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,79}</string>
                <key>spriteSourceSize</key>
                <string>{53,79}</string>
                <key>textureRect</key>
                <string>{{2,100},{53,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,95}</string>
                <key>spriteSourceSize</key>
                <string>{181,95}</string>
                <key>textureRect</key>
                <string>{{2,2},{181,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_frontWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{186,73},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_frontWheel_Broken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,69}</string>
                <key>spriteSourceSize</key>
                <string>{42,69}</string>
                <key>textureRect</key>
                <string>{{180,144},{42,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,53}</string>
                <key>spriteSourceSize</key>
                <string>{69,53}</string>
                <key>textureRect</key>
                <string>{{2,182},{69,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_rear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{176,189},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_seat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,21}</string>
                <key>spriteSourceSize</key>
                <string>{75,21}</string>
                <key>textureRect</key>
                <string>{{156,100},{75,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_spokes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{118,178},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,50}</string>
                <key>spriteSourceSize</key>
                <string>{79,50}</string>
                <key>textureRect</key>
                <string>{{58,100},{79,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moped_sprites.png</string>
            <key>size</key>
            <string>{256,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db520791b3275848b821d9f41f5aecd9:172c978901b868194e448f8e0efb7c8e:cdec6c330fa17316bfa7e841a5794626$</string>
            <key>textureFileName</key>
            <string>moped_sprites.png</string>
        </dict>
    </dict>
</plist>
