<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>motor_cart_box_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,12}</string>
                <key>spriteSourceSize</key>
                <string>{8,12}</string>
                <key>textureRect</key>
                <string>{{118,91},{8,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,49}</string>
                <key>spriteSourceSize</key>
                <string>{9,49}</string>
                <key>textureRect</key>
                <string>{{62,284},{9,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{100,26},{15,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,43}</string>
                <key>spriteSourceSize</key>
                <string>{14,43}</string>
                <key>textureRect</key>
                <string>{{100,129},{14,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,43}</string>
                <key>spriteSourceSize</key>
                <string>{15,43}</string>
                <key>textureRect</key>
                <string>{{100,83},{15,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{100,2},{21,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{100,44},{16,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,12}</string>
                <key>spriteSourceSize</key>
                <string>{8,12}</string>
                <key>textureRect</key>
                <string>{{118,106},{8,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,16}</string>
                <key>spriteSourceSize</key>
                <string>{7,16}</string>
                <key>textureRect</key>
                <string>{{100,63},{7,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,16}</string>
                <key>spriteSourceSize</key>
                <string>{7,16}</string>
                <key>textureRect</key>
                <string>{{119,63},{7,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,16}</string>
                <key>spriteSourceSize</key>
                <string>{7,16}</string>
                <key>textureRect</key>
                <string>{{100,73},{7,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{2,175},{74,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,95}</string>
                <key>spriteSourceSize</key>
                <string>{170,95}</string>
                <key>textureRect</key>
                <string>{{2,2},{170,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_frameBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,5}</string>
                <key>spriteSourceSize</key>
                <string>{89,5}</string>
                <key>textureRect</key>
                <string>{{118,121},{89,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_frameFront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,50}</string>
                <key>spriteSourceSize</key>
                <string>{57,50}</string>
                <key>textureRect</key>
                <string>{{2,284},{57,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_frameRear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,56}</string>
                <key>spriteSourceSize</key>
                <string>{67,56}</string>
                <key>textureRect</key>
                <string>{{2,225},{67,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_frameSeat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,51}</string>
                <key>spriteSourceSize</key>
                <string>{27,51}</string>
                <key>textureRect</key>
                <string>{{74,288},{27,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_handle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{40,72}</string>
                <key>textureRect</key>
                <string>{{79,213},{40,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_shock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{119,82},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{79,175},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>motor_cart_sprites.png</string>
            <key>size</key>
            <string>{128,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b76628f8fb267602b1cb061c96c9399:3c5ef3da7da9d500aecfc3e29da323c5:86d9e52aa7fd06d13083c0222f6785d8$</string>
            <key>textureFileName</key>
            <string>motor_cart_sprites.png</string>
        </dict>
    </dict>
</plist>
