<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheelchair_brokenFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,73}</string>
                <key>spriteSourceSize</key>
                <string>{62,73}</string>
                <key>textureRect</key>
                <string>{{2,188},{62,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_brokenWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,77}</string>
                <key>spriteSourceSize</key>
                <string>{29,77}</string>
                <key>textureRect</key>
                <string>{{80,110},{29,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,18}</string>
                <key>spriteSourceSize</key>
                <string>{82,18}</string>
                <key>textureRect</key>
                <string>{{2,264},{82,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,105}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{2,2},{114,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_frontWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{87,258},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_handle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,53}</string>
                <key>spriteSourceSize</key>
                <string>{17,53}</string>
                <key>textureRect</key>
                <string>{{67,190},{17,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_jet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,25}</string>
                <key>spriteSourceSize</key>
                <string>{36,25}</string>
                <key>textureRect</key>
                <string>{{67,230},{36,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,17}</string>
                <key>spriteSourceSize</key>
                <string>{45,17}</string>
                <key>textureRect</key>
                <string>{{67,210},{45,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{2,110},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wheelchair_sprites.png</string>
            <key>size</key>
            <string>{122,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7fec1c43609ad9c09b7d7cc60fbd255:5acb3fd953dfcdc395bcec4dd7e896fe:671de45cb5ce2e7d159f34505315422b$</string>
            <key>textureFileName</key>
            <string>wheelchair_sprites.png</string>
        </dict>
    </dict>
</plist>
