<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>editorui-snap15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,0}</string>
                <key>spriteSize</key>
                <string>{31,60}</string>
                <key>spriteSourceSize</key>
                <string>{121,60}</string>
                <key>textureRect</key>
                <string>{{126,222},{31,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_align.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{220,24},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{159,266},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{110,204},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{21,18}</string>
                <key>spriteSourceSize</key>
                <string>{45,44}</string>
                <key>textureRect</key>
                <string>{{159,204},{21,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_marquee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{217,46},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{217,68},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_moveCirc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{0,182},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_pan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{45,44}</string>
                <key>textureRect</key>
                <string>{{159,182},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_paste.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{220,0},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{217,90},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_rotCirc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_selectBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{132,182},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{44,43}</string>
                <key>textureRect</key>
                <string>{{181,245},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_test.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{217,112},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_trash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{179,266},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_undo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{197,266},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settings_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{182,215},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settings_check_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{182,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-blue-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{217,134},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{217,156},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-grey-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{217,178},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{217,200},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-pink-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{110,182},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{159,224},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-yellow-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{212,222},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{212,244},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-editor-window-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,175}</string>
                <key>spriteSourceSize</key>
                <string>{33,175}</string>
                <key>textureRect</key>
                <string>{{182,38},{33,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-slider-ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,63}</string>
                <key>spriteSourceSize</key>
                <string>{40,63}</string>
                <key>textureRect</key>
                <string>{{110,222},{14,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-slider-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{132,206},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-slider-progressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{159,246},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{237,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:581de76573100624aad49f974bd94955:9f361559e084721c286142485f00b40b:47a79fe71086a64da8694d7dcc6a4a61$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
