<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>business_guy_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,14}</string>
                <key>spriteSourceSize</key>
                <string>{19,14}</string>
                <key>textureRect</key>
                <string>{{229,267},{19,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_chestChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,39}</string>
                <key>spriteSourceSize</key>
                <string>{26,39}</string>
                <key>textureRect</key>
                <string>{{98,247},{26,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_chestChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{155,323},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_chestChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,27}</string>
                <key>textureRect</key>
                <string>{{179,323},{23,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_chestChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{198,203},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,68}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{41,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_chest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,68}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{1,71},{35,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,18}</string>
                <key>spriteSourceSize</key>
                <string>{29,18}</string>
                <key>textureRect</key>
                <string>{{74,333},{29,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_headChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,11}</string>
                <key>spriteSourceSize</key>
                <string>{20,11}</string>
                <key>textureRect</key>
                <string>{{74,353},{20,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_headChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,15}</string>
                <key>spriteSourceSize</key>
                <string>{13,15}</string>
                <key>textureRect</key>
                <string>{{190,352},{13,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_headChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{172,352},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_headChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{18,351},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{177,119},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{168,221},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{13,18}</string>
                <key>textureRect</key>
                <string>{{36,345},{13,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{73,297},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_hipWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{35,28}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{105,288},{35,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_intestine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,5}</string>
                <key>spriteSourceSize</key>
                <string>{22,5}</string>
                <key>textureRect</key>
                <string>{{96,353},{22,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{119,187},{17,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{17,54}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{227,1},{17,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{19,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{156,123},{19,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{207,115},{17,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{17,52}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{201,61},{17,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{21,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{220,61},{21,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{33,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{153,1},{33,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{37,58}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{188,1},{37,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{174,67},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{27,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{69,249},{27,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{33,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{118,1},{33,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{33,62}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{106,69},{33,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{23,52}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{69,195},{23,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{23,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{94,195},{23,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,31}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{227,309},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{37,28}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{34,315},{37,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_pelvisChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{168,253},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_pelvisChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{205,343},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_pelvisChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{51,345},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_pelvisWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{211,165},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_shoulder_wound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{25,36}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{184,165},{25,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_spine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,8}</string>
                <key>spriteSourceSize</key>
                <string>{5,8}</string>
                <key>textureRect</key>
                <string>{{185,211},{5,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{226,111},{19,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{204,309},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{227,231},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{23,52}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{106,133},{23,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{145,223},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{229,283},{21,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{23,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{131,133},{23,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{138,181},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,44}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{165,175},{17,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{19,36}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{220,193},{19,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{227,335},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{126,240},{17,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,40}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{164,281},{17,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{1,351},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{17,44}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{145,265},{17,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{183,281},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{31,68}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{1,211},{31,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{31,54}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{141,67},{31,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{23,32}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{202,241},{23,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{35,66}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{81,1},{35,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{31,68}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{1,281},{31,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{23,32}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{204,275},{23,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{35,66}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{44,1},{35,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-12}</string>
                <key>spriteSize</key>
                <string>{33,52}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{69,141},{33,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{31,68}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{73,69},{31,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{31,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{34,263},{31,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{105,318},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{1,141},{33,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{31,68}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{36,141},{31,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{128,318},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{38,71},{33,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{34,211},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>business_guy_sprites.png</string>
            <key>size</key>
            <string>{251,376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f50d5f16fb02a95861c711e63393b54:340e99b0c5e3d58ffd3238af149c2740:55d0a6157013d271902250eb2974c3ba$</string>
            <key>textureFileName</key>
            <string>business_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
