<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effective_shopper_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{135,125}</string>
                <key>spriteSourceSize</key>
                <string>{165,195}</string>
                <key>textureRect</key>
                <string>{{1,1},{135,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effective_shopper_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-17}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,527},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,120}</string>
                <key>textureRect</key>
                <string>{{88,471},{35,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{35,100}</string>
                <key>spriteSourceSize</key>
                <string>{75,120}</string>
                <key>textureRect</key>
                <string>{{88,269},{35,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,120}</string>
                <key>textureRect</key>
                <string>{{88,566},{35,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{35,100}</string>
                <key>spriteSourceSize</key>
                <string>{75,120}</string>
                <key>textureRect</key>
                <string>{{88,370},{35,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{120,210}</string>
                <key>textureRect</key>
                <string>{{1,624},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{120,210}</string>
                <key>textureRect</key>
                <string>{{1,713},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{131,99}</string>
                <key>spriteSourceSize</key>
                <string>{195,165}</string>
                <key>textureRect</key>
                <string>{{1,137},{131,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effective_shopper_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,84}</string>
                <key>spriteSourceSize</key>
                <string>{75,120}</string>
                <key>textureRect</key>
                <string>{{70,661},{47,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,84}</string>
                <key>spriteSourceSize</key>
                <string>{75,120}</string>
                <key>textureRect</key>
                <string>{{70,746},{47,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{120,210}</string>
                <key>textureRect</key>
                <string>{{1,269},{86,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{120,210}</string>
                <key>textureRect</key>
                <string>{{1,398},{86,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_effective_shopper_sprites.png</string>
            <key>size</key>
            <string>{127,831}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eab96b8dfd38cc63bf1cac75bccc4ba:5e9dfc3267e574c97ca58bdaabbe4cea:f573c0d044c333b4d1441b2c16568c61$</string>
            <key>textureFileName</key>
            <string>character_select_effective_shopper_sprites.png</string>
        </dict>
    </dict>
</plist>
