<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pogo_stick_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{64,113}</string>
                <key>spriteSourceSize</key>
                <string>{98,177}</string>
                <key>textureRect</key>
                <string>{{156,1},{64,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{221,1},{56,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{221,143},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{30,97}</string>
                <key>spriteSourceSize</key>
                <string>{60,135}</string>
                <key>textureRect</key>
                <string>{{61,134},{30,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{28,107}</string>
                <key>spriteSourceSize</key>
                <string>{60,135}</string>
                <key>textureRect</key>
                <string>{{1,134},{28,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{28,95}</string>
                <key>spriteSourceSize</key>
                <string>{60,135}</string>
                <key>textureRect</key>
                <string>{{92,134},{28,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{30,105}</string>
                <key>spriteSourceSize</key>
                <string>{60,135}</string>
                <key>textureRect</key>
                <string>{{30,134},{30,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{62,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{121,124},{62,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{62,122}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{93,1},{62,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{56,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{221,80},{56,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,87}</string>
                <key>spriteSourceSize</key>
                <string>{54,117}</string>
                <key>textureRect</key>
                <string>{{184,115},{36,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{34,87}</string>
                <key>spriteSourceSize</key>
                <string>{54,117}</string>
                <key>textureRect</key>
                <string>{{184,204},{34,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pogo_stick_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{44,132}</string>
                <key>spriteSourceSize</key>
                <string>{60,180}</string>
                <key>textureRect</key>
                <string>{{48,1},{44,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{46,132}</string>
                <key>spriteSourceSize</key>
                <string>{60,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_pogo_stick_guy_sprites.png</string>
            <key>size</key>
            <string>{278,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5ce3c30720c2643de66aeb92b705ce2:28373cea97c61c82e5c1214b3dd78fc1:a917b4647963a20564c09f7135022709$</string>
            <key>textureFileName</key>
            <string>character_select_pogo_stick_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
