<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moped_girl_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{1,485},{47,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,592},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,86}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{1,797},{23,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{25,94}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{1,657},{25,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{23,86}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{1,884},{23,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{23,94}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{27,657},{23,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{49,124}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{49,124}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{1,126},{49,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{47,44}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{1,752},{47,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,70}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{25,797},{25,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,70}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{25,868},{25,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,116}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{1,251},{43,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,116}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{1,368},{43,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_moped_girl_sprites.png</string>
            <key>size</key>
            <string>{52,971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ae7a31346de8b4470c88e99008805f8:f1b399a92bf305fc60e8ed33101281f8:8d5e136d816db7998d0eb5b239279ae8$</string>
            <key>textureFileName</key>
            <string>character_select_moped_girl_sprites.png</string>
        </dict>
    </dict>
</plist>
