<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moped_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{59,114}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{63,132},{59,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{58,78}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{187,65},{58,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,96}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{155,1},{29,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{31,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{1,134},{31,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{31,92}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{155,31},{31,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{29,104}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{33,134},{29,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{61,126}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{93,1},{61,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{61,126}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{123,128},{61,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{123,190},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{33,86}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{181,190},{33,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,82}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{187,31},{33,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{45,130}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{47,1},{45,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{45,132}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_moped_guy_sprites.png</string>
            <key>size</key>
            <string>{270,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c75aa50b670d014522e2fa4b6423497a:c89bde0a29891a1d39330f0e5b703bcb:0a3b0e350c0271712e5cf9f9647fdd77$</string>
            <key>textureFileName</key>
            <string>character_select_moped_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
