<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheelchair_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{61,108}</string>
                <key>spriteSourceSize</key>
                <string>{75,150}</string>
                <key>textureRect</key>
                <string>{{264,1},{61,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{55,71}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{373,1},{55,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{33,96}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{238,93},{33,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{33,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{131,93},{33,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{29,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{365,63},{29,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{29,102}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{262,63},{29,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{67,124}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{61,124}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{69,1},{61,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{445,1},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{33,86}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{335,93},{33,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,82}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{422,93},{33,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{45,130}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{131,47},{45,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{45,132}</string>
                <key>spriteSourceSize</key>
                <string>{105,180}</string>
                <key>textureRect</key>
                <string>{{131,1},{45,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_wheelchair_guy_sprites.png</string>
            <key>size</key>
            <string>{505,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1c1f9c627caa8f09e9a2059c3f251b6:b843fdfd8ecd954f1b647f15b770096c:e50874b917f7fdd9ac57b791315ed4fb$</string>
            <key>textureFileName</key>
            <string>character_select_wheelchair_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
