<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>irresponsible_dad_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{58,113}</string>
                <key>spriteSourceSize</key>
                <string>{98,177}</string>
                <key>textureRect</key>
                <string>{{66,132},{58,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{58,76}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{158,1},{58,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{181,221},{56,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{26,93}</string>
                <key>spriteSourceSize</key>
                <string>{60,135}</string>
                <key>textureRect</key>
                <string>{{66,246},{26,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{28,101}</string>
                <key>spriteSourceSize</key>
                <string>{60,135}</string>
                <key>textureRect</key>
                <string>{{125,132},{28,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,91}</string>
                <key>spriteSourceSize</key>
                <string>{60,135}</string>
                <key>textureRect</key>
                <string>{{221,1},{26,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{26,101}</string>
                <key>spriteSourceSize</key>
                <string>{60,135}</string>
                <key>textureRect</key>
                <string>{{154,133},{26,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{64,122}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{1,126},{64,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{64,124}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{158,78},{54,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,87}</string>
                <key>spriteSourceSize</key>
                <string>{54,117}</string>
                <key>textureRect</key>
                <string>{{181,133},{36,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,81}</string>
                <key>spriteSourceSize</key>
                <string>{54,117}</string>
                <key>textureRect</key>
                <string>{{218,133},{32,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{44,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,180}</string>
                <key>textureRect</key>
                <string>{{113,1},{44,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{46,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,180}</string>
                <key>textureRect</key>
                <string>{{66,1},{46,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_irresponsible_dad_sprites.png</string>
            <key>size</key>
            <string>{251,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bddfd8ad966accb1fb7ff6e879b6397:b8fbbaac5399db9c8b070e189403d21f:0af9a66e96915b4427f951633ad147be$</string>
            <key>textureFileName</key>
            <string>character_select_irresponsible_dad_sprites.png</string>
        </dict>
    </dict>
</plist>
