<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>irresponsible_dad_kid_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,45}</string>
                <key>textureRect</key>
                <string>{{25,41},{20,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1,125},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{11,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,45}</string>
                <key>textureRect</key>
                <string>{{44,1},{11,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{11,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,45}</string>
                <key>textureRect</key>
                <string>{{39,107},{11,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{11,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,45}</string>
                <key>textureRect</key>
                <string>{{47,30},{11,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{11,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,45}</string>
                <key>textureRect</key>
                <string>{{26,118},{11,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,68}</string>
                <key>textureRect</key>
                <string>{{1,43},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{23,45}</string>
                <key>textureRect</key>
                <string>{{26,147},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,45}</string>
                <key>textureRect</key>
                <string>{{20,85},{13,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,45}</string>
                <key>textureRect</key>
                <string>{{35,74},{13,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,38}</string>
                <key>spriteSourceSize</key>
                <string>{23,68}</string>
                <key>textureRect</key>
                <string>{{1,85},{17,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,38}</string>
                <key>spriteSourceSize</key>
                <string>{23,68}</string>
                <key>textureRect</key>
                <string>{{25,1},{17,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>irresponsible_dad_kid_sprites.png</string>
            <key>size</key>
            <string>{59,165}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67cb07f1d2747e08c8cb330d1c736993:1b28ccd02c0189197a27a67c2bcaf133:8b1de78a75a064ff155d12f374599212$</string>
            <key>textureFileName</key>
            <string>irresponsible_dad_kid_sprites.png</string>
        </dict>
    </dict>
</plist>
