<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>irresponsible_dad_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,14}</string>
                <key>spriteSourceSize</key>
                <string>{19,14}</string>
                <key>textureRect</key>
                <string>{{1,724},{19,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chestChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{21,24}</string>
                <key>textureRect</key>
                <string>{{1,669},{21,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chestChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{29,656},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chestChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{75,685},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chestChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,30}</string>
                <key>spriteSourceSize</key>
                <string>{17,30}</string>
                <key>textureRect</key>
                <string>{{79,653},{17,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{31,59}</string>
                <key>spriteSourceSize</key>
                <string>{49,89}</string>
                <key>textureRect</key>
                <string>{{71,62},{31,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{49,89}</string>
                <key>textureRect</key>
                <string>{{71,1},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,18}</string>
                <key>spriteSourceSize</key>
                <string>{31,18}</string>
                <key>textureRect</key>
                <string>{{66,425},{31,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_headChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,9}</string>
                <key>spriteSourceSize</key>
                <string>{17,9}</string>
                <key>textureRect</key>
                <string>{{52,409},{17,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_headChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,16}</string>
                <key>spriteSourceSize</key>
                <string>{11,16}</string>
                <key>textureRect</key>
                <string>{{19,695},{11,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_headChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,10}</string>
                <key>spriteSourceSize</key>
                <string>{13,10}</string>
                <key>textureRect</key>
                <string>{{97,382},{13,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_headChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{97,366},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{31,39}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{57,233},{31,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{73,525},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{13,18}</string>
                <key>textureRect</key>
                <string>{{97,346},{13,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{31,27}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{78,317},{31,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_hipWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{73,556},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_intestine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,5}</string>
                <key>spriteSourceSize</key>
                <string>{22,5}</string>
                <key>textureRect</key>
                <string>{{73,389},{22,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,68}</string>
                <key>textureRect</key>
                <string>{{29,565},{14,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{16,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,68}</string>
                <key>textureRect</key>
                <string>{{29,308},{16,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,68}</string>
                <key>textureRect</key>
                <string>{{54,274},{16,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{16,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,68}</string>
                <key>textureRect</key>
                <string>{{48,420},{16,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{30,68}</string>
                <key>textureRect</key>
                <string>{{29,466},{14,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{16,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,68}</string>
                <key>textureRect</key>
                <string>{{45,470},{16,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{33,63}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{1,66},{33,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{36,66},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{19,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{83,174},{19,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{23,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{29,520},{23,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{33,63}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{36,1},{33,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{33,63}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{33,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{19,51}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{27,413},{19,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{21,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{81,123},{21,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{49,89}</string>
                <key>textureRect</key>
                <string>{{52,656},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{47,326},{29,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvisChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,23}</string>
                <key>spriteSourceSize</key>
                <string>{21,23}</string>
                <key>textureRect</key>
                <string>{{52,681},{21,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvisChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{86,711},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvisChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{32,716},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvisWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,17}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{73,401},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_shoulder_wound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{49,89}</string>
                <key>textureRect</key>
                <string>{{29,617},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_spine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,8}</string>
                <key>spriteSourceSize</key>
                <string>{5,8}</string>
                <key>textureRect</key>
                <string>{{66,576},{5,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{90,225},{19,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{64,586},{21,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{15,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{35,685},{15,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{23,53}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{29,253},{23,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{19,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{52,360},{19,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{52,706},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{23,47}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{27,364},{23,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{72,274},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,43}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{54,525},{17,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{19,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{84,488},{19,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{15,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{1,695},{15,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{45,570},{17,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{17,39}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{66,445},{17,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{69,711},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{17,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{78,346},{17,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{19,37}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{63,486},{19,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{24,68}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{29,131},{24,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{55,127},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{87,586},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,66}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,271},{26,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{24,68}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,339},{24,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{85,456},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,66}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,479},{26,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{26,52}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,615},{26,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{24,66}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,547},{24,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{57,183},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{78,621},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{26,68}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,201},{26,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{24,68}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,409},{24,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{56,621},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{26,68}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,131},{26,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{26,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{29,201},{26,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>irresponsible_dad_sprites.png</string>
            <key>size</key>
            <string>{111,739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:915bb9a1cb287f57649d2074d097edfa:142432f38e40f6184475e46a9c69da67:045b6b5df72415409a76c1f7027dd80d$</string>
            <key>textureFileName</key>
            <string>irresponsible_dad_sprites.png</string>
        </dict>
    </dict>
</plist>
