<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moped_guy_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,14}</string>
                <key>spriteSourceSize</key>
                <string>{19,14}</string>
                <key>textureRect</key>
                <string>{{26,545},{19,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_chestChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{116,304},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_chestChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{21,24}</string>
                <key>textureRect</key>
                <string>{{1,533},{21,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_chestChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{113,538},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_chestChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,30}</string>
                <key>spriteSourceSize</key>
                <string>{17,30}</string>
                <key>textureRect</key>
                <string>{{126,181},{17,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{31,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{65,65},{31,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_chest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{110,1},{33,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,18}</string>
                <key>spriteSourceSize</key>
                <string>{29,18}</string>
                <key>textureRect</key>
                <string>{{34,525},{29,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_headChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{126,167},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_headChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,15}</string>
                <key>textureRect</key>
                <string>{{132,149},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_headChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{132,213},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_headChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,15}</string>
                <key>spriteSourceSize</key>
                <string>{13,15}</string>
                <key>textureRect</key>
                <string>{{132,132},{13,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{55,293},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{101,369},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{13,18}</string>
                <key>textureRect</key>
                <string>{{132,112},{13,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_hipWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{101,440},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_intestine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,5}</string>
                <key>spriteSourceSize</key>
                <string>{22,5}</string>
                <key>textureRect</key>
                <string>{{1,559},{22,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{86,177},{17,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{17,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{59,135},{17,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{74,336},{17,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{17,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{86,229},{17,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{17,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{55,336},{17,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{19,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{105,163},{19,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{33,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{33,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{37,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{71,1},{37,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{28,381},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{27,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{103,115},{27,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{33,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{1,67},{33,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{33,62}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{36,1},{33,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{23,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{30,433},{23,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{23,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{78,125},{23,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{65,514},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{31,28}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{57,484},{31,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_pelvisChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,23}</string>
                <key>spriteSourceSize</key>
                <string>{21,23}</string>
                <key>textureRect</key>
                <string>{{67,540},{21,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_pelvisChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{127,91},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_pelvisChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{47,545},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_pelvisWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{90,506},{29,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_shoulder_wound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{25,36}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{30,487},{25,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_spine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,8}</string>
                <key>spriteSourceSize</key>
                <string>{5,8}</string>
                <key>textureRect</key>
                <string>{{58,514},{5,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,44}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{109,255},{19,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{122,406},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{127,61},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{23,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{28,327},{23,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{93,327},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{90,532},{21,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{23,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{55,392},{23,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{105,213},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{19,42}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{55,440},{19,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{116,333},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{130,440},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{19,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{88,279},{19,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{19,40}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{80,432},{19,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{130,382},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{19,42}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{80,388},{19,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{19,36}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{101,402},{19,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{25,66}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{30,203},{25,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{25,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{28,271},{25,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-17}</string>
                <key>spriteSize</key>
                <string>{23,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{90,474},{23,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{27,66}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{30,135},{27,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{25,68}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{1,271},{25,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{115,470},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{27,66}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{1,203},{27,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{27,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{98,61},{27,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{25,68}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{1,411},{25,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{25,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{59,193},{25,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{25,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{57,243},{25,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{27,68}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{1,133},{27,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{25,68}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{1,341},{25,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{121,504},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{27,68}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{36,65},{27,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{27,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,90}</string>
                <key>textureRect</key>
                <string>{{1,481},{27,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moped_guy_sprites.png</string>
            <key>size</key>
            <string>{148,565}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ef4c38672c721793ab03a913abbf7bc:8ffc2603f0c36ed78bbf01031e8d1a9a:4953167c326ce540f90f0f7882d4ff86$</string>
            <key>textureFileName</key>
            <string>moped_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
