<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pogo_stick_guy_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,14}</string>
                <key>spriteSourceSize</key>
                <string>{19,14}</string>
                <key>textureRect</key>
                <string>{{1,558},{19,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_chestChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{21,24}</string>
                <key>textureRect</key>
                <string>{{34,523},{21,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_chestChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{79,517},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_chestChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{102,539},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_chestChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,30}</string>
                <key>spriteSourceSize</key>
                <string>{17,30}</string>
                <key>textureRect</key>
                <string>{{125,191},{17,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{49,89}</string>
                <key>textureRect</key>
                <string>{{108,1},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_chest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{35,59}</string>
                <key>spriteSourceSize</key>
                <string>{49,89}</string>
                <key>textureRect</key>
                <string>{{71,1},{35,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{30,18}</string>
                <key>textureRect</key>
                <string>{{111,310},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_headChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,11}</string>
                <key>spriteSourceSize</key>
                <string>{19,11}</string>
                <key>textureRect</key>
                <string>{{116,438},{19,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_headChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{130,101},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_headChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,11}</string>
                <key>spriteSourceSize</key>
                <string>{14,11}</string>
                <key>textureRect</key>
                <string>{{127,254},{14,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_headChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{129,82},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{29,39}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{26,482},{29,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{57,482},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{13,18}</string>
                <key>textureRect</key>
                <string>{{129,62},{13,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{85,420},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_hipWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{107,453},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_intestine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,6}</string>
                <key>spriteSourceSize</key>
                <string>{22,6}</string>
                <key>textureRect</key>
                <string>{{91,565},{22,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{16,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,68}</string>
                <key>textureRect</key>
                <string>{{45,430},{16,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{16,56}</string>
                <key>spriteSourceSize</key>
                <string>{30,68}</string>
                <key>textureRect</key>
                <string>{{54,285},{16,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,68}</string>
                <key>textureRect</key>
                <string>{{54,343},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{16,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,68}</string>
                <key>textureRect</key>
                <string>{{93,280},{16,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{16,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,68}</string>
                <key>textureRect</key>
                <string>{{27,426},{16,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{18,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,68}</string>
                <key>textureRect</key>
                <string>{{110,116},{18,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{33,63}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{33,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{66,66},{33,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{21,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{87,125},{21,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{23,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{81,235},{23,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{33,63}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{36,1},{33,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{33,61}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{31,66},{33,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{21,51}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{29,324},{21,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{23,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{1,482},{23,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,27}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{49,89}</string>
                <key>textureRect</key>
                <string>{{86,490},{27,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{54,395},{29,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_pelvisChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,23}</string>
                <key>spriteSourceSize</key>
                <string>{21,23}</string>
                <key>textureRect</key>
                <string>{{1,533},{21,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_pelvisChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{37,549},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_pelvisChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{125,171},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_pelvisWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{115,481},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_shoulder_wound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{49,89}</string>
                <key>textureRect</key>
                <string>{{111,270},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_spine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,8}</string>
                <key>spriteSourceSize</key>
                <string>{5,8}</string>
                <key>textureRect</key>
                <string>{{109,410},{5,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{19,47}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{72,285},{19,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{23,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{106,369},{23,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{15,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{127,223},{15,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{23,53}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{29,269},{23,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{19,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{63,429},{19,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{15,25}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{57,545},{15,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{23,47}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{29,377},{23,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{74,334},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{104,176},{19,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{19,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{86,453},{19,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{15,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{124,539},{15,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{19,49}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{83,181},{19,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{19,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{85,377},{19,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{74,546},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{19,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{106,223},{19,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{19,37}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{101,330},{19,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{24,68}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,412},{24,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{24,52}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{57,181},{24,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{122,337},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,66}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,344},{26,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{24,68}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,206},{24,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{116,404},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,66}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,276},{26,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,52}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{101,62},{26,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{24,68}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{29,199},{24,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{55,235},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{115,507},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{26,68}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,136},{26,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{24,68}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{31,129},{24,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{57,513},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{28,68}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,66},{28,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{28,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{57,129},{28,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pogo_stick_guy_sprites.png</string>
            <key>size</key>
            <string>{145,573}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfa3d5d68a552036519a4f42b41c8dba:96bb2ffa3ab7ed445c3b1d78d89ea2f5:bc728e893cd1fadd1850746db1bee57d$</string>
            <key>textureFileName</key>
            <string>pogo_stick_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
