<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_main_back_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{284,266},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_back_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{676,391},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_blue_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{546,266},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_blue_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{558,130},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_grey_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{689,130},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_grey_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{676,261},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_pink_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{807,261},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_pink_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,129}</string>
                <key>spriteSourceSize</key>
                <string>{128,129}</string>
                <key>textureRect</key>
                <string>{{820,130},{128,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_confirm_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{415,266},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_confirm_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{791,391},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{842,76},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_achievements.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{73,80}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{0,397},{73,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_editor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{75,397},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{842,0},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_leaderboards.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,67}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{217,397},{69,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_options.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{146,397},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{282,129}</string>
                <key>textureRect</key>
                <string>{{288,397},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{556,264}</string>
                <key>spriteSourceSize</key>
                <string>{558,266}</string>
                <key>textureRect</key>
                <string>{{0,0},{556,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_playbtn_blue_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,128}</string>
                <key>spriteSourceSize</key>
                <string>{282,128}</string>
                <key>textureRect</key>
                <string>{{558,0},{282,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_playbtn_blue_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,129}</string>
                <key>spriteSourceSize</key>
                <string>{282,129}</string>
                <key>textureRect</key>
                <string>{{0,266},{282,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu_main.png</string>
            <key>size</key>
            <string>{948,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56674e9fb6d4b21315ed9728ea3e710f:a5e6cefe088a180d0dabbb8ff5f9552d:e4772d1fb01e14fbca2c72d72f0e9048$</string>
            <key>textureFileName</key>
            <string>menu_main.png</string>
        </dict>
    </dict>
</plist>
