<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_particle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{738,50},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{730,1},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{722,51},{10,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_particle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{715,1},{18,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,34}</string>
                <key>textureRect</key>
                <string>{{592,1},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,20}</string>
                <key>textureRect</key>
                <string>{{394,42},{32,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,38}</string>
                <key>spriteSourceSize</key>
                <string>{27,38}</string>
                <key>textureRect</key>
                <string>{{429,1},{27,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{559,1},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,22}</string>
                <key>spriteSourceSize</key>
                <string>{37,22}</string>
                <key>textureRect</key>
                <string>{{459,1},{37,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,26}</string>
                <key>spriteSourceSize</key>
                <string>{35,26}</string>
                <key>textureRect</key>
                <string>{{530,1},{35,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,42}</string>
                <key>textureRect</key>
                <string>{{295,1},{35,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{484,1},{36,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,20}</string>
                <key>textureRect</key>
                <string>{{333,1},{42,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{607,38},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metal_pieces_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{695,1},{18,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>metal_pieces_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,21}</string>
                <key>spriteSourceSize</key>
                <string>{10,21}</string>
                <key>textureRect</key>
                <string>{{462,41},{10,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metal_pieces_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,13}</string>
                <key>spriteSourceSize</key>
                <string>{16,13}</string>
                <key>textureRect</key>
                <string>{{730,18},{16,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metal_pieces_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{722,34},{14,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spark_particle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{636,33},{27,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spark_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{694,30},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{665,33},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triscuits_particle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{738,34},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triscuits_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{635,1},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triscuits_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{547,39},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>van_glass_shard_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,92}</string>
                <key>spriteSourceSize</key>
                <string>{60,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>van_glass_shard_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,92}</string>
                <key>spriteSourceSize</key>
                <string>{60,92}</string>
                <key>textureRect</key>
                <string>{{96,1},{60,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>van_glass_shard_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{70,38}</string>
                <key>textureRect</key>
                <string>{{356,1},{70,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>van_glass_shard_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,78}</string>
                <key>spriteSourceSize</key>
                <string>{44,78}</string>
                <key>textureRect</key>
                <string>{{214,1},{44,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,40}</string>
                <key>spriteSourceSize</key>
                <string>{14,40}</string>
                <key>textureRect</key>
                <string>{{273,48},{14,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{20,48}</string>
                <key>textureRect</key>
                <string>{{191,1},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,36}</string>
                <key>spriteSourceSize</key>
                <string>{10,36}</string>
                <key>textureRect</key>
                <string>{{517,1},{10,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,14}</string>
                <key>textureRect</key>
                <string>{{230,48},{40,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{38,16}</string>
                <key>textureRect</key>
                <string>{{316,46},{38,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{34,20}</string>
                <key>textureRect</key>
                <string>{{357,42},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{574,38},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{429,42},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{475,41},{20,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{666,1},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,10}</string>
                <key>spriteSourceSize</key>
                <string>{34,10}</string>
                <key>textureRect</key>
                <string>{{622,1},{34,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{36,18}</string>
                <key>textureRect</key>
                <string>{{508,40},{36,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,10}</string>
                <key>spriteSourceSize</key>
                <string>{36,10}</string>
                <key>textureRect</key>
                <string>{{191,52},{36,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>particles.png</string>
            <key>size</key>
            <string>{752,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d79ef3a2fcc07b9fc894d9ad8aa4a224:f5bfcce3fc742356246ffab4f7b2da8c:862ffd2ecc13b36e3795ce1149c4b6f0$</string>
            <key>textureFileName</key>
            <string>particles.png</string>
        </dict>
    </dict>
</plist>
