<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_pause_btn_blue_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_pause_btn_blue_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,99},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_pause_btn_pink_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{99,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_pause_btn_pink_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{99,99},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_pause_icon_ads.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{80,62}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{197,89},{80,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_pause_icon_character.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{265,189},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_pause_icon_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,197},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_pause_icon_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{195,197},{68,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_pause_icon_options.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{137,197},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_pause_icon_replay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{70,34}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{197,153},{70,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_pause_icon_reset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{279,89},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_pause_icon_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{285,1},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_pause_icon_sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{197,1},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_pause_icon_sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{71,197},{64,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu_pause.png</string>
            <key>size</key>
            <string>{340,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de95766d0c02c5fbb2da73cd7139477b:d0e5e0826ae7630164ca9359f6f7da76:997750bb12f3cbe5f212f4d2a822c5be$</string>
            <key>textureFileName</key>
            <string>menu_pause.png</string>
        </dict>
    </dict>
</plist>
