<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>motor_cart_box_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,64}</string>
                <key>spriteSourceSize</key>
                <string>{41,64}</string>
                <key>textureRect</key>
                <string>{{521,846},{41,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,263}</string>
                <key>spriteSourceSize</key>
                <string>{47,263}</string>
                <key>textureRect</key>
                <string>{{217,506},{47,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{217,770},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,227}</string>
                <key>spriteSourceSize</key>
                <string>{72,227}</string>
                <key>textureRect</key>
                <string>{{659,588},{72,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,227}</string>
                <key>spriteSourceSize</key>
                <string>{81,227}</string>
                <key>textureRect</key>
                <string>{{659,506},{81,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,136}</string>
                <key>spriteSourceSize</key>
                <string>{113,136}</string>
                <key>textureRect</key>
                <string>{{384,760},{113,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,116}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{298,760},{85,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,64}</string>
                <key>spriteSourceSize</key>
                <string>{41,64}</string>
                <key>textureRect</key>
                <string>{{586,846},{41,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,85}</string>
                <key>spriteSourceSize</key>
                <string>{36,85}</string>
                <key>textureRect</key>
                <string>{{521,760},{36,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,85}</string>
                <key>spriteSourceSize</key>
                <string>{36,85}</string>
                <key>textureRect</key>
                <string>{{558,760},{36,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,85}</string>
                <key>spriteSourceSize</key>
                <string>{36,85}</string>
                <key>textureRect</key>
                <string>{{595,760},{36,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,253}</string>
                <key>spriteSourceSize</key>
                <string>{393,253}</string>
                <key>textureRect</key>
                <string>{{265,506},{393,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{906,504}</string>
                <key>spriteSourceSize</key>
                <string>{906,504}</string>
                <key>textureRect</key>
                <string>{{1,1},{906,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_handle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,384}</string>
                <key>spriteSourceSize</key>
                <string>{215,384}</string>
                <key>textureRect</key>
                <string>{{1,506},{215,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_shock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{651,845},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,183}</string>
                <key>spriteSourceSize</key>
                <string>{182,183}</string>
                <key>textureRect</key>
                <string>{{659,661},{182,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_motor_cart_sprites.png</string>
            <key>size</key>
            <string>{908,891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e79f7739e0def20005433688091427a3:657e15d3f0bbd320f3645c0014689fab:fd62140b5a08d15759087a01570b103b$</string>
            <key>textureFileName</key>
            <string>character_select_motor_cart_sprites.png</string>
        </dict>
    </dict>
</plist>
