<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moped_backWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,360}</string>
                <key>spriteSourceSize</key>
                <string>{361,360}</string>
                <key>textureRect</key>
                <string>{{1,511},{361,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{967,509}</string>
                <key>spriteSourceSize</key>
                <string>{967,509}</string>
                <key>textureRect</key>
                <string>{{1,1},{967,509}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_frontWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,360}</string>
                <key>spriteSourceSize</key>
                <string>{361,360}</string>
                <key>textureRect</key>
                <string>{{363,511},{361,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_spokes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,299}</string>
                <key>spriteSourceSize</key>
                <string>{294,299}</string>
                <key>textureRect</key>
                <string>{{725,511},{294,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_moped_sprites.png</string>
            <key>size</key>
            <string>{1020,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:415448df7ab42af87dd26dbde09da7a1:b5732347035a3e5de9da410eef6cc6fe:09062dc5fafb99157518de8e68eb4eee$</string>
            <key>textureFileName</key>
            <string>character_select_moped_sprites.png</string>
        </dict>
    </dict>
</plist>
