<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>motor_cart_box_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{458,358},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,132}</string>
                <key>spriteSourceSize</key>
                <string>{24,132}</string>
                <key>textureRect</key>
                <string>{{476,2},{24,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{423,492},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,114}</string>
                <key>spriteSourceSize</key>
                <string>{36,114}</string>
                <key>textureRect</key>
                <string>{{2,519},{36,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,114}</string>
                <key>spriteSourceSize</key>
                <string>{41,114}</string>
                <key>textureRect</key>
                <string>{{458,241},{41,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,68}</string>
                <key>spriteSourceSize</key>
                <string>{57,68}</string>
                <key>textureRect</key>
                <string>{{352,492},{57,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{446,397},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{476,183},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,43}</string>
                <key>spriteSourceSize</key>
                <string>{18,43}</string>
                <key>textureRect</key>
                <string>{{119,519},{18,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,43}</string>
                <key>spriteSourceSize</key>
                <string>{18,43}</string>
                <key>textureRect</key>
                <string>{{476,137},{18,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,43}</string>
                <key>spriteSourceSize</key>
                <string>{18,43}</string>
                <key>textureRect</key>
                <string>{{446,458},{18,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,127}</string>
                <key>spriteSourceSize</key>
                <string>{197,127}</string>
                <key>textureRect</key>
                <string>{{183,257},{197,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,252}</string>
                <key>spriteSourceSize</key>
                <string>{453,252}</string>
                <key>textureRect</key>
                <string>{{2,2},{453,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_frameBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,15}</string>
                <key>spriteSourceSize</key>
                <string>{236,15}</string>
                <key>textureRect</key>
                <string>{{458,2},{236,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_frameFront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,132}</string>
                <key>spriteSourceSize</key>
                <string>{152,132}</string>
                <key>textureRect</key>
                <string>{{197,387},{152,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_frameRear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,148}</string>
                <key>spriteSourceSize</key>
                <string>{178,148}</string>
                <key>textureRect</key>
                <string>{{2,257},{178,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_frameSeat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,137}</string>
                <key>spriteSourceSize</key>
                <string>{72,137}</string>
                <key>textureRect</key>
                <string>{{383,257},{72,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_handle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,192}</string>
                <key>spriteSourceSize</key>
                <string>{108,192}</string>
                <key>textureRect</key>
                <string>{{2,408},{108,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_shock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{165,519},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{352,397},{91,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>motor_cart_sprites.png</string>
            <key>size</key>
            <string>{502,557}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b76628f8fb267602b1cb061c96c9399:3c5ef3da7da9d500aecfc3e29da323c5:86d9e52aa7fd06d13083c0222f6785d8$</string>
            <key>textureFileName</key>
            <string>motor_cart_sprites.png</string>
        </dict>
    </dict>
</plist>
