<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>personal_transporter_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,282}</string>
                <key>spriteSourceSize</key>
                <string>{93,282}</string>
                <key>textureRect</key>
                <string>{{2,226},{93,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal_transporter_inner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,21}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{98,226},{23,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal_transporter_shock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{106,125},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal_transporter_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,2},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal_transporter_wheelCover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,98}</string>
                <key>spriteSourceSize</key>
                <string>{101,98}</string>
                <key>textureRect</key>
                <string>{{2,125},{101,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>personal_transporter_sprites.png</string>
            <key>size</key>
            <string>{124,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db951a26a2b05d969ed2d89e0bec7676:7373b88bf5d7432fd64804c187ce85cc:0a4adaefeadf5fddea6b44fc4a443057$</string>
            <key>textureFileName</key>
            <string>personal_transporter_sprites.png</string>
        </dict>
    </dict>
</plist>
