<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>controls_gameplay_btn_arch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{0,598},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_break.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,163}</string>
                <key>spriteSourceSize</key>
                <string>{165,163}</string>
                <key>textureRect</key>
                <string>{{334,610},{165,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_eject.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,163}</string>
                <key>spriteSourceSize</key>
                <string>{165,163}</string>
                <key>textureRect</key>
                <string>{{334,775},{165,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_grab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,202}</string>
                <key>spriteSourceSize</key>
                <string>{202,202}</string>
                <key>textureRect</key>
                <string>{{232,204},{202,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_jet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,163}</string>
                <key>spriteSourceSize</key>
                <string>{163,163}</string>
                <key>textureRect</key>
                <string>{{0,931},{163,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,163}</string>
                <key>spriteSourceSize</key>
                <string>{165,163}</string>
                <key>textureRect</key>
                <string>{{167,777},{165,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_lean.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,202}</string>
                <key>spriteSourceSize</key>
                <string>{201,202}</string>
                <key>textureRect</key>
                <string>{{0,229},{201,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>controls_gameplay_btn_move.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,202}</string>
                <key>spriteSourceSize</key>
                <string>{203,202}</string>
                <key>textureRect</key>
                <string>{{232,0},{203,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,162}</string>
                <key>spriteSourceSize</key>
                <string>{164,162}</string>
                <key>textureRect</key>
                <string>{{334,940},{164,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_pushup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,164}</string>
                <key>spriteSourceSize</key>
                <string>{165,164}</string>
                <key>textureRect</key>
                <string>{{0,765},{165,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_reset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{202,200}</string>
                <key>textureRect</key>
                <string>{{204,408},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_superman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,164}</string>
                <key>spriteSourceSize</key>
                <string>{167,164}</string>
                <key>textureRect</key>
                <string>{{0,432},{167,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_tuck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{167,610},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_meter_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,185}</string>
                <key>spriteSourceSize</key>
                <string>{40,185}</string>
                <key>textureRect</key>
                <string>{{436,274},{40,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_meter_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,167}</string>
                <key>spriteSourceSize</key>
                <string>{22,167}</string>
                <key>textureRect</key>
                <string>{{204,229},{22,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,227}</string>
                <key>spriteSourceSize</key>
                <string>{230,227}</string>
                <key>textureRect</key>
                <string>{{0,0},{230,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_timer_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,53}</string>
                <key>spriteSourceSize</key>
                <string>{272,53}</string>
                <key>textureRect</key>
                <string>{{437,0},{272,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>controls_gameplay.png</string>
            <key>size</key>
            <string>{499,1102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68481431adfc580e02d50a2e23200a9d:5b399383a8d43ebaacff1c06265321b6:756f0cb468b32866250a242c55174e17$</string>
            <key>textureFileName</key>
            <string>controls_gameplay.png</string>
        </dict>
    </dict>
</plist>
