<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713173026826-usn5f3g5t93keo43rs8r08dn37jjgu4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713173026826-usn5f3g5t93keo43rs8r08dn37jjgu4f</string>
	<key>API_KEY</key>
	<string>AIzaSyBIlkvy3bkPNZp_2TzNcqzBGSVqUv0yyCM</string>
	<key>GCM_SENDER_ID</key>
	<string>713173026826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fancyforce.happywheels</string>
	<key>PROJECT_ID</key>
	<string>happywheels-50bf4</string>
	<key>STORAGE_BUCKET</key>
	<string>happywheels-50bf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713173026826:ios:b634216db25e202a32f7f3</string>
	<key>DATABASE_URL</key>
	<string>https://happywheels-50bf4.firebaseio.com</string>
</dict>
</plist>