<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popUp_scale9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1,152},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,149}</string>
                <key>spriteSourceSize</key>
                <string>{493,149}</string>
                <key>textureRect</key>
                <string>{{1,1},{493,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory_flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,46}</string>
                <key>textureRect</key>
                <string>{{58,152},{43,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu_victory.png</string>
            <key>size</key>
            <string>{495,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dc89ee249b22b03db9c6f4681c67cd7:f84bc96e3c9fa89c69dc83a0cd7392d5:8a5897ecfa434c273935730bbdc39308$</string>
            <key>textureFileName</key>
            <string>menu_victory.png</string>
        </dict>
    </dict>
</plist>
