<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>business_guy_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{25,19}</string>
                <key>textureRect</key>
                <string>{{1,461},{25,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_chestChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,53}</string>
                <key>spriteSourceSize</key>
                <string>{35,53}</string>
                <key>textureRect</key>
                <string>{{233,147},{35,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_chestChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{281,201},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_chestChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,36}</string>
                <key>spriteSourceSize</key>
                <string>{31,36}</string>
                <key>textureRect</key>
                <string>{{272,287},{31,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_chestChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,48}</string>
                <key>spriteSourceSize</key>
                <string>{27,48}</string>
                <key>textureRect</key>
                <string>{{243,263},{27,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_chest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1,93},{46,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,24}</string>
                <key>textureRect</key>
                <string>{{257,457},{39,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_headChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,15}</string>
                <key>spriteSourceSize</key>
                <string>{26,15}</string>
                <key>textureRect</key>
                <string>{{229,463},{26,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_headChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{294,179},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_headChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,15}</string>
                <key>spriteSourceSize</key>
                <string>{21,15}</string>
                <key>textureRect</key>
                <string>{{191,469},{21,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_headChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{287,426},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{169,227},{36,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{159,413},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{289,101},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{207,217},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_hipWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{43,435},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_intestine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,7}</string>
                <key>spriteSourceSize</key>
                <string>{29,7}</string>
                <key>textureRect</key>
                <string>{{249,252},{29,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{143,293},{20,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{20,70}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{117,325},{20,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{143,227},{24,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{169,279},{22,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{22,70}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{119,253},{22,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{26,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{261,79},{26,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{42,84}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{193,1},{42,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{48,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{237,1},{48,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{135,161},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{225,87},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{42,84}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{149,1},{42,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{42,82}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{43,277},{42,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{28,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{87,323},{28,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{30,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{169,161},{30,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,41}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{159,453},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{85,397},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_pelvisChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{201,341},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_pelvisChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{287,398},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_pelvisChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{283,367},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_pelvisWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{89,435},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_shoulder_wound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{249,202},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_spine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,10}</string>
                <key>spriteSourceSize</key>
                <string>{6,10}</string>
                <key>textureRect</key>
                <string>{{211,263},{6,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{24,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{193,279},{24,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{227,377},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{281,240},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{30,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{87,253},{30,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{26,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{173,343},{26,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{287,1},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{30,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{201,155},{30,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{139,359},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{270,143},{22,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{24,46}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{257,367},{24,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{287,33},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{22,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{219,263},{22,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{22,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{245,313},{22,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{289,69},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{22,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{135,413},{22,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{201,377},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{40,90}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{93,91},{40,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{43,361},{40,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{269,325},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{44,88}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{103,1},{44,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{40,90}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{1,277},{40,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{195,427},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{44,88}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{57,1},{44,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-16}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{135,91},{44,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{40,90}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{1,369},{40,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{40,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{87,185},{40,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{227,421},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{42,90}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{1,185},{42,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{40,90}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{45,185},{40,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{257,415},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{42,90}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{49,93},{42,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{181,87},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>business_guy_sprites.png</string>
            <key>size</key>
            <string>{314,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f50d5f16fb02a95861c711e63393b54:340e99b0c5e3d58ffd3238af149c2740:55d0a6157013d271902250eb2974c3ba$</string>
            <key>textureFileName</key>
            <string>business_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
