<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheelchair_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{80,142}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{90,1},{80,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{72,94}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{44,341},{72,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{42,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,331},{42,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{42,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{200,72},{42,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{38,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{201,213},{38,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{38,134}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{162,319},{38,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{88,164}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{80,164}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,166},{80,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{171,1},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{117,341},{44,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{201,334},{42,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{58,174}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{82,166},{58,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{58,174}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{141,144},{58,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_wheelchair_guy_sprites.png</string>
            <key>size</key>
            <string>{246,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1c1f9c627caa8f09e9a2059c3f251b6:b843fdfd8ecd954f1b647f15b770096c:e50874b917f7fdd9ac57b791315ed4fb$</string>
            <key>textureFileName</key>
            <string>character_select_wheelchair_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
