<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>business_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,176}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{68,98}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,178},{68,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{76,84}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{372,161},{76,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{36,124}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{285,40},{36,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{38,138}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{285,1},{38,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{40,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{492,118},{40,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{40,134}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{440,1},{40,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-1}</string>
                <key>spriteSize</key>
                <string>{80,166}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{273,80},{80,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-1}</string>
                <key>spriteSize</key>
                <string>{82,166}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{106,80},{82,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{94,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{100,178},{94,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{44,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{481,1},{44,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{42,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{449,136},{42,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{78,178}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{106,1},{78,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{76,176}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{195,163},{76,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_business_guy_sprites.png</string>
            <key>size</key>
            <string>{533,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a8d9455365b02407d030e01ab0c5fba:90c1d6d791f3a6aed3d20c776a88b0cc:211e9a47207ceee354062a418f6f09bc$</string>
            <key>textureFileName</key>
            <string>character_select_business_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
