<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moped_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,150}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,498},{76,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{76,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,87},{76,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{82,301},{38,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{40,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{78,551},{40,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{38,122}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{82,428},{38,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{38,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{82,164},{38,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{80,166}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,164},{80,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{80,166}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,331},{80,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,649},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{42,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{42,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,44},{42,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{58,174}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1,720},{58,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{58,174}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{60,720},{58,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_moped_guy_sprites.png</string>
            <key>size</key>
            <string>{121,895}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c75aa50b670d014522e2fa4b6423497a:c89bde0a29891a1d39330f0e5b703bcb:0a3b0e350c0271712e5cf9f9647fdd77$</string>
            <key>textureFileName</key>
            <string>character_select_moped_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
