<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>irresponsible_dad_kid_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{48,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{185,1},{48,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{56,76}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{259,1},{56,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{22,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{1,100},{22,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{22,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{70,100},{22,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{22,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{139,96},{22,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{22,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{234,1},{22,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{50,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{50,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{52,1},{50,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{208,80},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{259,89},{28,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_kid_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{259,58},{30,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>irresponsible_dad_kid_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,180}</string>
                <key>textureRect</key>
                <string>{{103,1},{40,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{40,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,180}</string>
                <key>textureRect</key>
                <string>{{144,1},{40,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_irresponsible_dad_kid_sprites.png</string>
            <key>size</key>
            <string>{336,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e15b855cb03a65535d146e1ed363524a:1b28ccd02c0189197a27a67c2bcaf133:d1cd87e854f8233dd308f7b0cb3365d1$</string>
            <key>textureFileName</key>
            <string>character_select_irresponsible_dad_kid_sprites.png</string>
        </dict>
    </dict>
</plist>
