<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effective_shopper_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{178,164}</string>
                <key>spriteSourceSize</key>
                <string>{220,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-22}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{116,299},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,124}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{180,1},{46,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{46,132}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{174,166},{46,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,124}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{183,624},{46,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{46,132}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{116,428},{46,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{90,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,280}</string>
                <key>textureRect</key>
                <string>{{1,639},{90,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{90,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,280}</string>
                <key>textureRect</key>
                <string>{{92,639},{90,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{172,132}</string>
                <key>spriteSourceSize</key>
                <string>{260,220}</string>
                <key>textureRect</key>
                <string>{{1,166},{172,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{163,428},{62,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{116,561},{62,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effective_shopper_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{114,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,280}</string>
                <key>textureRect</key>
                <string>{{1,299},{114,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{114,168}</string>
                <key>spriteSourceSize</key>
                <string>{160,280}</string>
                <key>textureRect</key>
                <string>{{1,470},{114,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_effective_shopper_sprites.png</string>
            <key>size</key>
            <string>{231,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eab96b8dfd38cc63bf1cac75bccc4ba:5e9dfc3267e574c97ca58bdaabbe4cea:f573c0d044c333b4d1441b2c16568c61$</string>
            <key>textureFileName</key>
            <string>character_select_effective_shopper_sprites.png</string>
        </dict>
    </dict>
</plist>
