<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effective_shopper_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{25,19}</string>
                <key>textureRect</key>
                <string>{{203,114},{25,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_chestChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{127,203},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_chestChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{52,44}</string>
                <key>textureRect</key>
                <string>{{181,301},{52,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_chestChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,53}</string>
                <key>spriteSourceSize</key>
                <string>{51,53}</string>
                <key>textureRect</key>
                <string>{{177,137},{51,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_chestChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,53}</string>
                <key>spriteSourceSize</key>
                <string>{49,53}</string>
                <key>textureRect</key>
                <string>{{181,192},{49,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{90,84}</string>
                <key>spriteSourceSize</key>
                <string>{110,130}</string>
                <key>textureRect</key>
                <string>{{99,1},{90,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_chest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,24}</string>
                <key>textureRect</key>
                <string>{{114,739},{39,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_headChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,16}</string>
                <key>spriteSourceSize</key>
                <string>{27,16}</string>
                <key>textureRect</key>
                <string>{{196,725},{27,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_headChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,22}</string>
                <key>spriteSourceSize</key>
                <string>{19,22}</string>
                <key>textureRect</key>
                <string>{{90,738},{19,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_headChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,17}</string>
                <key>spriteSourceSize</key>
                <string>{22,17}</string>
                <key>textureRect</key>
                <string>{{32,743},{22,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_headChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,23}</string>
                <key>spriteSourceSize</key>
                <string>{20,23}</string>
                <key>textureRect</key>
                <string>{{85,713},{20,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{58,66}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{61,539},{58,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{67,669},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{261,661},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_hipWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,110}</string>
                <key>textureRect</key>
                <string>{{67,409},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_intestine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,12}</string>
                <key>spriteSourceSize</key>
                <string>{29,12}</string>
                <key>textureRect</key>
                <string>{{1,745},{29,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{225,597},{24,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{24,68}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{237,401},{24,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{24,62}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{251,597},{24,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{237,531},{24,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{24,68}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{121,595},{24,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{26,62}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{151,633},{26,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{67,607},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{46,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{129,137},{46,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{197,459},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{187,347},{38,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{139,389},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{133,261},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{157,459},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{157,515},{36,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,40}</string>
                <key>spriteSize</key>
                <string>{42,24}</string>
                <key>spriteSourceSize</key>
                <string>{110,130}</string>
                <key>textureRect</key>
                <string>{{111,713},{42,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{88,68}</string>
                <key>spriteSourceSize</key>
                <string>{130,110}</string>
                <key>textureRect</key>
                <string>{{191,1},{88,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_pelvisChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,48}</string>
                <key>spriteSourceSize</key>
                <string>{69,48}</string>
                <key>textureRect</key>
                <string>{{129,87},{69,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_pelvisChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{230,113},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_pelvisChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{133,325},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_pelvisWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,24}</string>
                <key>spriteSize</key>
                <string>{72,40}</string>
                <key>spriteSourceSize</key>
                <string>{130,110}</string>
                <key>textureRect</key>
                <string>{{200,71},{72,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_shoulder_wound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,13}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{110,130}</string>
                <key>textureRect</key>
                <string>{{195,515},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_spine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,10}</string>
                <key>spriteSourceSize</key>
                <string>{6,10}</string>
                <key>textureRect</key>
                <string>{{192,71},{6,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{191,573},{32,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{115,665},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{29,703},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{121,471},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{235,341},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{225,713},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{121,533},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{34,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{225,663},{34,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{157,573},{32,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{155,697},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{57,713},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{237,471},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{232,167},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{1,703},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{232,229},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{189,679},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{1,455},{58,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{58,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{61,471},{58,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-20}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{181,247},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{64,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{1,101},{64,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{58,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{67,183},{58,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{235,291},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{1,283},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{67,339},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{1,543},{58,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{67,267},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-21}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{187,407},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{64,88}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{1,193},{64,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{67,101},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{179,633},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{1,371},{64,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{1,631},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effective_shopper_sprites.png</string>
            <key>size</key>
            <string>{280,764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52c6a63a7c88a53f45663c2ad47edb23:7860f86c2fa69617d6eaeb5f0ad72009:21804996a54b1118a888b8d103a364b0$</string>
            <key>textureFileName</key>
            <string>effective_shopper_sprites.png</string>
        </dict>
    </dict>
</plist>
