<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>irresponsible_dad_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{25,19}</string>
                <key>textureRect</key>
                <string>{{21,659},{25,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chestChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{85,611},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chestChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,36}</string>
                <key>spriteSourceSize</key>
                <string>{29,36}</string>
                <key>textureRect</key>
                <string>{{152,229},{29,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chestChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{31,625},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chestChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{168,576},{23,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{39,76}</string>
                <key>spriteSourceSize</key>
                <string>{65,118}</string>
                <key>textureRect</key>
                <string>{{81,85},{39,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_chest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{43,76}</string>
                <key>spriteSourceSize</key>
                <string>{65,118}</string>
                <key>textureRect</key>
                <string>{{139,1},{43,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,25}</string>
                <key>spriteSourceSize</key>
                <string>{41,25}</string>
                <key>textureRect</key>
                <string>{{125,576},{41,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_headChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,12}</string>
                <key>spriteSourceSize</key>
                <string>{23,12}</string>
                <key>textureRect</key>
                <string>{{66,676},{23,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_headChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,21}</string>
                <key>spriteSourceSize</key>
                <string>{15,21}</string>
                <key>textureRect</key>
                <string>{{118,611},{15,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_headChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{101,662},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_headChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,19}</string>
                <key>spriteSourceSize</key>
                <string>{16,19}</string>
                <key>textureRect</key>
                <string>{{48,668},{16,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{63,443},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{35,37}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{126,485},{35,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{106,163},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{139,340},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_hipWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{151,151},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_intestine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,7}</string>
                <key>spriteSourceSize</key>
                <string>{29,7}</string>
                <key>textureRect</key>
                <string>{{149,524},{29,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,64}</string>
                <key>spriteSourceSize</key>
                <string>{40,90}</string>
                <key>textureRect</key>
                <string>{{105,195},{18,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{20,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,90}</string>
                <key>textureRect</key>
                <string>{{33,493},{20,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,64}</string>
                <key>spriteSourceSize</key>
                <string>{40,90}</string>
                <key>textureRect</key>
                <string>{{63,566},{20,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{18,62}</string>
                <key>spriteSourceSize</key>
                <string>{40,90}</string>
                <key>textureRect</key>
                <string>{{101,503},{18,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{18,68}</string>
                <key>spriteSourceSize</key>
                <string>{40,90}</string>
                <key>textureRect</key>
                <string>{{81,496},{18,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{20,62}</string>
                <key>spriteSourceSize</key>
                <string>{40,90}</string>
                <key>textureRect</key>
                <string>{{104,439},{20,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{44,84}</string>
                <key>spriteSourceSize</key>
                <string>{60,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{44,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{44,78}</string>
                <key>spriteSourceSize</key>
                <string>{60,100}</string>
                <key>textureRect</key>
                <string>{{93,1},{44,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{24,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,100}</string>
                <key>textureRect</key>
                <string>{{55,496},{24,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{28,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,100}</string>
                <key>textureRect</key>
                <string>{{33,565},{28,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{44,82}</string>
                <key>spriteSourceSize</key>
                <string>{60,100}</string>
                <key>textureRect</key>
                <string>{{1,87},{44,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{44,82}</string>
                <key>spriteSourceSize</key>
                <string>{60,100}</string>
                <key>textureRect</key>
                <string>{{47,1},{44,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{24,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,100}</string>
                <key>textureRect</key>
                <string>{{37,425},{24,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_lowerLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{26,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,100}</string>
                <key>textureRect</key>
                <string>{{69,377},{26,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,36}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{65,118}</string>
                <key>textureRect</key>
                <string>{{135,603},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{85,567},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvisChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{28,31}</string>
                <key>textureRect</key>
                <string>{{1,625},{28,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvisChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{116,635},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvisChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{142,635},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_pelvisWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,22}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{153,267},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_shoulder_wound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{31,48}</string>
                <key>spriteSourceSize</key>
                <string>{65,118}</string>
                <key>textureRect</key>
                <string>{{123,377},{31,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_spine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,10}</string>
                <key>spriteSourceSize</key>
                <string>{6,10}</string>
                <key>textureRect</key>
                <string>{{150,473},{6,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{24,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{97,377},{24,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{150,427},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{18,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{168,618},{18,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{30,68}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{71,241},{30,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{24,52}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{125,207},{24,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{1,658},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{30,62}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{158,79},{30,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{105,323},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{126,427},{22,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{24,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{125,151},{24,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{18,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{59,632},{18,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{22,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{105,261},{22,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{22,50}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{125,524},{22,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{79,646},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{22,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{129,267},{22,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperArm2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{156,377},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{37,175},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{30,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{37,353},{30,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{153,297},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{32,86}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{37,265},{32,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{30,90}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{1,443},{30,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{149,534},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{34,88}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{1,263},{34,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{34,68}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{122,81},{34,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{1,535},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{71,311},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{151,187},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{34,88}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{1,353},{34,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{32,88}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{47,85},{32,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{163,471},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{34,90}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{1,171},{34,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_upperLeg2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{34,64}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{69,175},{34,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>irresponsible_dad_sprites.png</string>
            <key>size</key>
            <string>{192,689}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:915bb9a1cb287f57649d2074d097edfa:142432f38e40f6184475e46a9c69da67:045b6b5df72415409a76c1f7027dd80d$</string>
            <key>textureFileName</key>
            <string>irresponsible_dad_sprites.png</string>
        </dict>
    </dict>
</plist>
