<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>irresponsible_dad_kid_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,60}</string>
                <key>textureRect</key>
                <string>{{1,155},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{31,1},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{43,93},{12,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{47,169},{12,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{47,131},{12,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{29,189},{12,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{28,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{1,53},{28,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{28,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{28,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{1,197},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{29,147},{16,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{25,105},{16,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,105},{22,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{31,43},{22,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>irresponsible_dad_kid_sprites.png</string>
            <key>size</key>
            <string>{62,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67cb07f1d2747e08c8cb330d1c736993:1b28ccd02c0189197a27a67c2bcaf133:8b1de78a75a064ff155d12f374599212$</string>
            <key>textureFileName</key>
            <string>irresponsible_dad_kid_sprites.png</string>
        </dict>
    </dict>
</plist>
