<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_particle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{108,96},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{118,83},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{108,106},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_particle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,7}</string>
                <key>spriteSourceSize</key>
                <string>{9,7}</string>
                <key>textureRect</key>
                <string>{{119,69},{9,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,19}</string>
                <key>spriteSourceSize</key>
                <string>{14,19}</string>
                <key>textureRect</key>
                <string>{{23,99},{14,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,11}</string>
                <key>spriteSourceSize</key>
                <string>{19,11}</string>
                <key>textureRect</key>
                <string>{{40,99},{19,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,21}</string>
                <key>spriteSourceSize</key>
                <string>{15,21}</string>
                <key>textureRect</key>
                <string>{{63,1},{15,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{81,16},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,11}</string>
                <key>spriteSourceSize</key>
                <string>{21,11}</string>
                <key>textureRect</key>
                <string>{{61,48},{21,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{63,25},{20,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cart_pieces_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{1,99},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,15}</string>
                <key>spriteSourceSize</key>
                <string>{19,15}</string>
                <key>textureRect</key>
                <string>{{108,1},{19,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,11}</string>
                <key>spriteSourceSize</key>
                <string>{22,11}</string>
                <key>textureRect</key>
                <string>{{36,85},{22,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cart_pieces_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{74,92},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metal_pieces_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{118,95},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metal_pieces_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,11}</string>
                <key>spriteSourceSize</key>
                <string>{7,11}</string>
                <key>textureRect</key>
                <string>{{120,19},{7,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metal_pieces_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{118,107},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metal_pieces_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,9}</string>
                <key>spriteSourceSize</key>
                <string>{7,9}</string>
                <key>textureRect</key>
                <string>{{119,57},{7,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark_particle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,14}</string>
                <key>spriteSourceSize</key>
                <string>{13,14}</string>
                <key>textureRect</key>
                <string>{{54,99},{13,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,14}</string>
                <key>spriteSourceSize</key>
                <string>{13,14}</string>
                <key>textureRect</key>
                <string>{{91,96},{13,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spark_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{101,36},{15,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triscuits_particle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{103,116},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triscuits_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,14}</string>
                <key>spriteSourceSize</key>
                <string>{17,14}</string>
                <key>textureRect</key>
                <string>{{81,36},{17,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triscuits_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{87,112},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>van_glass_shard_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>van_glass_shard_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{1,50},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>van_glass_shard_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,22}</string>
                <key>spriteSourceSize</key>
                <string>{36,22}</string>
                <key>textureRect</key>
                <string>{{36,46},{36,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>van_glass_shard_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{36,1},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,22}</string>
                <key>spriteSourceSize</key>
                <string>{10,22}</string>
                <key>textureRect</key>
                <string>{{61,72},{10,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,24}</string>
                <key>spriteSourceSize</key>
                <string>{12,24}</string>
                <key>textureRect</key>
                <string>{{81,1},{12,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,20}</string>
                <key>spriteSourceSize</key>
                <string>{6,20}</string>
                <key>textureRect</key>
                <string>{{46,121},{6,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,8}</string>
                <key>spriteSourceSize</key>
                <string>{22,8}</string>
                <key>textureRect</key>
                <string>{{75,66},{22,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,10}</string>
                <key>spriteSourceSize</key>
                <string>{22,10}</string>
                <key>textureRect</key>
                <string>{{75,53},{22,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{74,77},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{101,19},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,12}</string>
                <key>spriteSourceSize</key>
                <string>{16,12}</string>
                <key>textureRect</key>
                <string>{{100,53},{16,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{100,68},{12,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{70,108},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,8}</string>
                <key>spriteSourceSize</key>
                <string>{18,8}</string>
                <key>textureRect</key>
                <string>{{119,36},{18,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_chips_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,10}</string>
                <key>spriteSourceSize</key>
                <string>{20,10}</string>
                <key>textureRect</key>
                <string>{{95,83},{20,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_chips_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,6}</string>
                <key>spriteSourceSize</key>
                <string>{20,6}</string>
                <key>textureRect</key>
                <string>{{23,121},{20,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>particles.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d79ef3a2fcc07b9fc894d9ad8aa4a224:f5bfcce3fc742356246ffab4f7b2da8c:862ffd2ecc13b36e3795ce1149c4b6f0$</string>
            <key>textureFileName</key>
            <string>particles.png</string>
        </dict>
    </dict>
</plist>
