<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mineExplosion_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-160}</string>
                <key>spriteSize</key>
                <string>{186,251}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{2708,1686},{186,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-80}</string>
                <key>spriteSize</key>
                <string>{336,409}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{2225,370},{336,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-77}</string>
                <key>spriteSize</key>
                <string>{344,415}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{1585,1316},{344,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-71}</string>
                <key>spriteSize</key>
                <string>{350,429}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{1930,1305},{350,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-66}</string>
                <key>spriteSize</key>
                <string>{356,435}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{1096,1583},{356,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-63}</string>
                <key>spriteSize</key>
                <string>{364,441}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{731,1425},{364,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-59}</string>
                <key>spriteSize</key>
                <string>{364,445}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{366,1535},{364,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-57}</string>
                <key>spriteSize</key>
                <string>{364,451}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{1860,853},{364,451}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-55}</string>
                <key>spriteSize</key>
                <string>{368,456}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1491,859},{368,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-53}</string>
                <key>spriteSize</key>
                <string>{370,460}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{747,964},{370,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-50}</string>
                <key>spriteSize</key>
                <string>{372,466}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1118,849},{372,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-140}</string>
                <key>spriteSize</key>
                <string>{200,291}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{2829,1365},{200,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-48}</string>
                <key>spriteSize</key>
                <string>{374,470}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1118,378},{374,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-46}</string>
                <key>spriteSize</key>
                <string>{378,471}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{2563,1},{378,471}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-44}</string>
                <key>spriteSize</key>
                <string>{384,475}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{366,481},{384,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-41}</string>
                <key>spriteSize</key>
                <string>{382,479}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{725,1},{382,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-39}</string>
                <key>spriteSize</key>
                <string>{384,479}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{340,1},{384,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-33}</string>
                <key>spriteSize</key>
                <string>{376,484}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1108,1},{376,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-31}</string>
                <key>spriteSize</key>
                <string>{372,484}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1593,1},{372,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-30}</string>
                <key>spriteSize</key>
                <string>{368,484}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{2078,1},{368,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-27}</string>
                <key>spriteSize</key>
                <string>{364,484}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1,572},{364,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-26}</string>
                <key>spriteSize</key>
                <string>{362,484}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1,1057},{362,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-119}</string>
                <key>spriteSize</key>
                <string>{252,333}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{364,1282},{252,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-23}</string>
                <key>spriteSize</key>
                <string>{364,482}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1,1542},{364,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-20}</string>
                <key>spriteSize</key>
                <string>{366,482}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{751,481},{366,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-16}</string>
                <key>spriteSize</key>
                <string>{364,480}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1493,378},{364,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{366,478}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1858,374},{366,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{358,474}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{2562,380},{358,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{356,472}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{2562,739},{356,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-7}</string>
                <key>spriteSize</key>
                <string>{268,468}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{2562,1096},{268,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-4}</string>
                <key>spriteSize</key>
                <string>{266,466}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1118,1316},{266,466}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{178,466}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{2281,1182},{178,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{176,464}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1882,1735},{176,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-111}</string>
                <key>spriteSize</key>
                <string>{294,349}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{1532,1732},{294,349}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,3}</string>
                <key>spriteSize</key>
                <string>{102,446}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1882,1912},{102,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-105}</string>
                <key>spriteSize</key>
                <string>{306,360}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{2347,1686},{306,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-99}</string>
                <key>spriteSize</key>
                <string>{320,368}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{2460,1365},{320,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-94}</string>
                <key>spriteSize</key>
                <string>{324,380}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{366,957},{324,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineExplosion_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{338,570}</string>
                <key>spriteSourceSize</key>
                <string>{426,570}</string>
                <key>textureRect</key>
                <string>{{1,1},{338,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineExplosion_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-85}</string>
                <key>spriteSize</key>
                <string>{336,401}</string>
                <key>spriteSourceSize</key>
                <string>{426,571}</string>
                <key>textureRect</key>
                <string>{{2225,780},{336,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mineExplosion.png</string>
            <key>size</key>
            <string>{3037,2027}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae4981a7a0c4b92efbf8d11c805d574d:0cfcdc12591ebab68d8dd2268cf7d0b2:bd3ef6a094a8076ac0a9eb4297f9fde3$</string>
            <key>textureFileName</key>
            <string>mineExplosion.png</string>
        </dict>
    </dict>
</plist>
