<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheelchair_flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,48}</string>
                <key>spriteSourceSize</key>
                <string>{218,48}</string>
                <key>textureRect</key>
                <string>{{281,1},{218,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,279}</string>
                <key>spriteSourceSize</key>
                <string>{305,279}</string>
                <key>textureRect</key>
                <string>{{1,1},{305,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_frontWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{379,251},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_jet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,66}</string>
                <key>spriteSourceSize</key>
                <string>{97,66}</string>
                <key>textureRect</key>
                <string>{{281,251},{97,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{281,50},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_wheelchair_sprites.png</string>
            <key>size</key>
            <string>{500,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f602b8f227b9f7ad58541e1a6651cece:a6fbd5920b2b998b792dea64f0e71088:97f300cb249683d575373af6245ee5b2$</string>
            <key>textureFileName</key>
            <string>character_select_wheelchair_sprites.png</string>
        </dict>
    </dict>
</plist>
