<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>road_bike_childSeat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,241}</string>
                <key>spriteSourceSize</key>
                <string>{146,241}</string>
                <key>textureRect</key>
                <string>{{322,1},{146,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>road_bike_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,222}</string>
                <key>spriteSourceSize</key>
                <string>{320,222}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_bike_gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,62}</string>
                <key>spriteSourceSize</key>
                <string>{107,62}</string>
                <key>textureRect</key>
                <string>{{322,148},{107,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_bike_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{564,1},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_road_bike_sprites.png</string>
            <key>size</key>
            <string>{766,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0e943a22fe96d8254736343d5c0eada:4a34dd712a224446425c29b3fde7c950:605a8a183b8d026fa7ce8418857e0322$</string>
            <key>textureFileName</key>
            <string>character_select_road_bike_sprites.png</string>
        </dict>
    </dict>
</plist>
