<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moped_backWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{132,2},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_backWheel_broken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,95}</string>
                <key>spriteSourceSize</key>
                <string>{57,95}</string>
                <key>textureRect</key>
                <string>{{227,180},{57,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_engine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,55}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{325,180},{70,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_fork.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,105}</string>
                <key>spriteSourceSize</key>
                <string>{71,105}</string>
                <key>textureRect</key>
                <string>{{225,2},{71,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,127}</string>
                <key>spriteSourceSize</key>
                <string>{242,127}</string>
                <key>textureRect</key>
                <string>{{2,2},{242,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_frontWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{132,95},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_frontWheel_Broken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{132,188},{56,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,71}</string>
                <key>spriteSourceSize</key>
                <string>{93,71}</string>
                <key>textureRect</key>
                <string>{{299,2},{93,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_rear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,39}</string>
                <key>spriteSourceSize</key>
                <string>{84,39}</string>
                <key>textureRect</key>
                <string>{{373,2},{84,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_seat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,28}</string>
                <key>textureRect</key>
                <string>{{410,89},{100,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_spokes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{74,75}</string>
                <key>textureRect</key>
                <string>{{333,98},{74,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,67}</string>
                <key>spriteSourceSize</key>
                <string>{105,67}</string>
                <key>textureRect</key>
                <string>{{225,110},{105,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moped_sprites.png</string>
            <key>size</key>
            <string>{440,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db520791b3275848b821d9f41f5aecd9:172c978901b868194e448f8e0efb7c8e:cdec6c330fa17316bfa7e841a5794626$</string>
            <key>textureFileName</key>
            <string>moped_sprites.png</string>
        </dict>
    </dict>
</plist>
