<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>personal_transporter_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,141}</string>
                <key>spriteSourceSize</key>
                <string>{47,141}</string>
                <key>textureRect</key>
                <string>{{2,117},{47,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal_transporter_inner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{11,10}</string>
                <key>textureRect</key>
                <string>{{52,117},{11,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>personal_transporter_shock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{55,65},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal_transporter_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal_transporter_wheelCover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,49}</string>
                <key>textureRect</key>
                <string>{{2,65},{50,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>personal_transporter_sprites.png</string>
            <key>size</key>
            <string>{64,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db951a26a2b05d969ed2d89e0bec7676:7373b88bf5d7432fd64804c187ce85cc:0a4adaefeadf5fddea6b44fc4a443057$</string>
            <key>textureFileName</key>
            <string>personal_transporter_sprites.png</string>
        </dict>
    </dict>
</plist>
