<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pogo_stick_brokenframe1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,70}</string>
                <key>spriteSourceSize</key>
                <string>{21,70}</string>
                <key>textureRect</key>
                <string>{{2,77},{21,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_brokenframe2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,72}</string>
                <key>spriteSourceSize</key>
                <string>{22,72}</string>
                <key>textureRect</key>
                <string>{{2,2},{22,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,125}</string>
                <key>spriteSourceSize</key>
                <string>{20,125}</string>
                <key>textureRect</key>
                <string>{{2,150},{20,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_rod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,99}</string>
                <key>spriteSourceSize</key>
                <string>{10,99}</string>
                <key>textureRect</key>
                <string>{{16,278},{10,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,73}</string>
                <key>spriteSourceSize</key>
                <string>{11,73}</string>
                <key>textureRect</key>
                <string>{{2,278},{11,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pogo_stick_sprites.png</string>
            <key>size</key>
            <string>{28,379}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba81448736acfea195956d20251761d1:39e411eca8efc4ae7a12b3fd1d6b15fa:80da46f33b812e259599229dfed60507$</string>
            <key>textureFileName</key>
            <string>pogo_stick_sprites.png</string>
        </dict>
    </dict>
</plist>
