<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheelchair_brokenFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,97}</string>
                <key>spriteSourceSize</key>
                <string>{83,97}</string>
                <key>textureRect</key>
                <string>{{105,145},{83,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_brokenWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,102}</string>
                <key>spriteSourceSize</key>
                <string>{39,102}</string>
                <key>textureRect</key>
                <string>{{158,2},{39,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,24}</string>
                <key>spriteSourceSize</key>
                <string>{109,24}</string>
                <key>textureRect</key>
                <string>{{200,2},{109,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,140}</string>
                <key>spriteSourceSize</key>
                <string>{153,140}</string>
                <key>textureRect</key>
                <string>{{2,2},{153,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_frontWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{158,107},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_handle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,71}</string>
                <key>spriteSourceSize</key>
                <string>{23,71}</string>
                <key>textureRect</key>
                <string>{{191,114},{23,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_jet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,33}</string>
                <key>spriteSourceSize</key>
                <string>{49,33}</string>
                <key>textureRect</key>
                <string>{{191,188},{49,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,22}</string>
                <key>spriteSourceSize</key>
                <string>{61,22}</string>
                <key>textureRect</key>
                <string>{{217,114},{61,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,145},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wheelchair_sprites.png</string>
            <key>size</key>
            <string>{241,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7fec1c43609ad9c09b7d7cc60fbd255:5acb3fd953dfcdc395bcec4dd7e896fe:671de45cb5ce2e7d159f34505315422b$</string>
            <key>textureFileName</key>
            <string>wheelchair_sprites.png</string>
        </dict>
    </dict>
</plist>
