<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pogo_stick_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{43,76}</string>
                <key>spriteSourceSize</key>
                <string>{65,118}</string>
                <key>textureRect</key>
                <string>{{120,1},{43,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{167,74},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{129,78},{37,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{20,66}</string>
                <key>spriteSourceSize</key>
                <string>{40,90}</string>
                <key>textureRect</key>
                <string>{{206,1},{20,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{20,72}</string>
                <key>spriteSourceSize</key>
                <string>{40,90}</string>
                <key>textureRect</key>
                <string>{{164,1},{20,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{20,64}</string>
                <key>spriteSourceSize</key>
                <string>{40,90}</string>
                <key>textureRect</key>
                <string>{{227,1},{20,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{20,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,90}</string>
                <key>textureRect</key>
                <string>{{185,1},{20,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{42,82}</string>
                <key>spriteSourceSize</key>
                <string>{60,100}</string>
                <key>textureRect</key>
                <string>{{34,1},{42,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{42,82}</string>
                <key>spriteSourceSize</key>
                <string>{60,100}</string>
                <key>textureRect</key>
                <string>{{77,1},{42,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{90,84},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{24,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{232,66},{24,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,58}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{207,68},{24,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{1,90},{30,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pogo_stick_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{32,88}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_pogo_stick_guy_sprites.png</string>
            <key>size</key>
            <string>{257,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5ce3c30720c2643de66aeb92b705ce2:28373cea97c61c82e5c1214b3dd78fc1:a917b4647963a20564c09f7135022709$</string>
            <key>textureFileName</key>
            <string>character_select_pogo_stick_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
