<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moped_girl_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{86,1},{32,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{80,74},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{56,150},{16,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{18,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1,133},{18,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{56,167},{16,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{16,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{20,133},{16,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{34,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{34,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{34,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1,36},{34,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{80,119},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,48}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{37,150},{18,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_girl_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,48}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{56,184},{18,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,78}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1,71},{30,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_girl_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,78}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1,102},{30,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_moped_girl_sprites.png</string>
            <key>size</key>
            <string>{119,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ae7a31346de8b4470c88e99008805f8:f1b399a92bf305fc60e8ed33101281f8:8d5e136d816db7998d0eb5b239279ae8$</string>
            <key>textureFileName</key>
            <string>character_select_moped_girl_sprites.png</string>
        </dict>
    </dict>
</plist>
