<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>business_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{138,86},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{245,1},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{72,92},{20,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{20,70}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{224,1},{20,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{238,97},{22,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{22,70}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{1,92},{22,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{42,84}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{138,1},{42,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{42,84}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{181,1},{42,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{189,86},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{24,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{238,72},{24,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{245,46},{22,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>business_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{40,90}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{56,1},{40,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>business_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{40,90}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{97,1},{40,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_business_guy_sprites.png</string>
            <key>size</key>
            <string>{302,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a8d9455365b02407d030e01ab0c5fba:90c1d6d791f3a6aed3d20c776a88b0cc:211e9a47207ceee354062a418f6f09bc$</string>
            <key>textureFileName</key>
            <string>character_select_business_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
