<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheelchair_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,72}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{91,32},{42,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{91,75},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{22,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{164,45},{22,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{22,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{180,1},{22,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{20,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{167,93},{20,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{20,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{180,24},{20,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{46,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{42,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{48,1},{42,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{130,75},{38,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{167,68},{24,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,56}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{230,45},{22,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{32,88}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1,86},{32,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{91,1},{30,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_wheelchair_guy_sprites.png</string>
            <key>size</key>
            <string>{253,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1c1f9c627caa8f09e9a2059c3f251b6:b843fdfd8ecd954f1b647f15b770096c:e50874b917f7fdd9ac57b791315ed4fb$</string>
            <key>textureFileName</key>
            <string>character_select_wheelchair_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
