<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>irresponsible_dad_kid_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,60}</string>
                <key>textureRect</key>
                <string>{{1,144},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{18,306},{12,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{18,343},{12,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{18,380},{12,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{1,388},{12,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{28,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{1,42},{28,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{28,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{1,93},{28,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{1,185},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{1,306},{16,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{1,347},{16,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,208},{22,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>irresponsible_dad_kid_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{1,257},{22,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_irresponsible_dad_kid_sprites.png</string>
            <key>size</key>
            <string>{32,425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e15b855cb03a65535d146e1ed363524a:1b28ccd02c0189197a27a67c2bcaf133:d1cd87e854f8233dd308f7b0cb3365d1$</string>
            <key>textureFileName</key>
            <string>character_select_irresponsible_dad_kid_sprites.png</string>
        </dict>
    </dict>
</plist>
