<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effective_shopper_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,9}</string>
                <key>spriteSourceSize</key>
                <string>{13,9}</string>
                <key>textureRect</key>
                <string>{{45,392},{13,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_chestChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{33,301},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_chestChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{116,249},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_chestChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{63,286},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_chestChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{63,257},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{47,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,65}</string>
                <key>textureRect</key>
                <string>{{52,1},{47,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_chest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{49,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,12}</string>
                <key>spriteSourceSize</key>
                <string>{19,12}</string>
                <key>textureRect</key>
                <string>{{1,406},{19,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_headChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,8}</string>
                <key>spriteSourceSize</key>
                <string>{13,8}</string>
                <key>textureRect</key>
                <string>{{136,114},{13,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_headChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,11}</string>
                <key>spriteSourceSize</key>
                <string>{9,11}</string>
                <key>textureRect</key>
                <string>{{141,146},{9,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_headChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,8}</string>
                <key>spriteSourceSize</key>
                <string>{11,8}</string>
                <key>textureRect</key>
                <string>{{140,104},{11,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_headChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,11}</string>
                <key>spriteSourceSize</key>
                <string>{10,11}</string>
                <key>textureRect</key>
                <string>{{136,367},{10,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{76,84},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1,382},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,12}</string>
                <key>spriteSourceSize</key>
                <string>{9,12}</string>
                <key>textureRect</key>
                <string>{{73,183},{9,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_hipWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{37,98},{37,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_intestine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,6}</string>
                <key>spriteSourceSize</key>
                <string>{15,6}</string>
                <key>textureRect</key>
                <string>{{131,240},{15,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{136,309},{13,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{13,36}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{116,211},{13,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{13,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{100,344},{13,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{138,273},{13,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{13,36}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{99,306},{13,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{82,315},{15,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{37,233},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{33,197},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{131,210},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{90,274},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{73,143},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{37,267},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{114,300},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_lowerLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{89,214},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{23,13}</string>
                <key>spriteSourceSize</key>
                <string>{55,65}</string>
                <key>textureRect</key>
                <string>{{115,388},{23,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{101,1},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_pelvisChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{37,171},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_pelvisChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{77,351},{21,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_pelvisChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{33,331},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_pelvisWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{37,21}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{76,120},{37,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_shoulder_wound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{21,29}</string>
                <key>spriteSourceSize</key>
                <string>{55,65}</string>
                <key>textureRect</key>
                <string>{{106,180},{21,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_spine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{110,112},{3,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{117,330},{17,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{96,379},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{23,392},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{85,180},{19,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{129,178},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{136,124},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{61,315},{19,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{33,364},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{58,349},{17,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{77,380},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{136,345},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{120,146},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{115,112},{19,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{15,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{60,381},{15,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{99,146},{19,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperArm2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{115,362},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{1,196},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{108,76},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{59,197},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{1,102},{34,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{1,336},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{90,246},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{1,150},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{71,46},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{1,288},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{107,38},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{63,227},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{1,54},{34,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{37,54},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{112,274},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{1,244},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effective_shopper_upperLeg2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{37,133},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effective_shopper_sprites.png</string>
            <key>size</key>
            <string>{152,419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52c6a63a7c88a53f45663c2ad47edb23:7860f86c2fa69617d6eaeb5f0ad72009:21804996a54b1118a888b8d103a364b0$</string>
            <key>textureFileName</key>
            <string>effective_shopper_sprites.png</string>
        </dict>
    </dict>
</plist>
