<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheelchair_guy_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,9}</string>
                <key>spriteSourceSize</key>
                <string>{13,9}</string>
                <key>textureRect</key>
                <string>{{15,539},{13,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_chestChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{1,519},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_chestChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{1,499},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_chestChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{40,521},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_chestChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{41,499},{12,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{49,49},{23,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_chest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{26,93},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,12}</string>
                <key>spriteSourceSize</key>
                <string>{19,12}</string>
                <key>textureRect</key>
                <string>{{18,507},{19,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_headChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,5}</string>
                <key>spriteSourceSize</key>
                <string>{9,5}</string>
                <key>textureRect</key>
                <string>{{64,472},{9,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_headChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,9}</string>
                <key>spriteSourceSize</key>
                <string>{7,9}</string>
                <key>textureRect</key>
                <string>{{17,522},{7,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_headChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,11}</string>
                <key>spriteSourceSize</key>
                <string>{10,11}</string>
                <key>textureRect</key>
                <string>{{65,239},{10,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_headChunk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{47,539},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{39,276},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{37,249},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,12}</string>
                <key>spriteSourceSize</key>
                <string>{9,12}</string>
                <key>textureRect</key>
                <string>{{65,225},{9,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_hipWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{43,457},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_intestine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,4}</string>
                <key>spriteSourceSize</key>
                <string>{15,4}</string>
                <key>textureRect</key>
                <string>{{30,539},{15,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{13,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{37,213},{13,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm1_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{13,38}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{22,213},{13,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{15,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{22,397},{15,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{52,215},{11,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm2_1_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{11,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{41,175},{11,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{13,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{43,135},{13,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{25,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{1,47},{25,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{1,425},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{20,327},{19,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{23,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{1,91},{23,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{28,1},{25,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{15,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{20,253},{15,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_lowerLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{20,291},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{55,501},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{20,467},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_pelvisChunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{55,519},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_pelvisChunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,13}</string>
                <key>spriteSourceSize</key>
                <string>{12,13}</string>
                <key>textureRect</key>
                <string>{{58,128},{12,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_pelvisChunk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{1,537},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_pelvisWound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{19,16}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{20,489},{19,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_shoulder_wound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{39,399},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_spine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{49,125},{3,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,30}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{56,303},{13,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{15,22}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{58,167},{15,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{60,479},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{17,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{22,175},{17,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{15,28}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{41,427},{15,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{43,479},{15,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{17,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{22,433},{17,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{41,337},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,30}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{39,367},{13,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{13,24}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{62,277},{13,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{64,449},{11,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{13,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{41,303},{13,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{13,26}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{60,335},{13,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{11,16}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{27,521},{11,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{13,28}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{54,367},{13,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperArm2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{13,26}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{58,397},{13,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{1,233},{17,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{17,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{1,461},{17,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{54,191},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{19,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{28,45},{19,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{1,281},{17,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{58,425},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{19,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{1,137},{19,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{19,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{22,137},{19,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{1,377},{17,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{20,361},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{15,22}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{60,252},{15,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{19,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{55,1},{19,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{1,329},{17,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{15,22}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{58,143},{15,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{19,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{1,185},{19,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_guy_upperLeg2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{49,89},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wheelchair_guy_sprites.png</string>
            <key>size</key>
            <string>{76,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f5eb41eb693bdedca3e9c4107a5eca0:5a2f6034b1f016e5eea475f4e2944d80:f02f4e5132565b24c47920b42590d372$</string>
            <key>textureFileName</key>
            <string>wheelchair_guy_sprites.png</string>
        </dict>
    </dict>
</plist>
