<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>editorui-snap15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-184,1}</string>
                <key>spriteSize</key>
                <string>{117,238}</string>
                <key>spriteSourceSize</key>
                <string>{485,240}</string>
                <key>textureRect</key>
                <string>{{432,848},{117,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_align.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{855,335},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{855,253},{68,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{432,1088},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{82,68}</string>
                <key>spriteSourceSize</key>
                <string>{178,176}</string>
                <key>textureRect</key>
                <string>{{634,722},{82,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_marquee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{717,931},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{634,957},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_moveCirc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,430}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{0,722},{430,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_pan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{178,176}</string>
                <key>textureRect</key>
                <string>{{551,971},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_paste.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{855,417},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{551,1053},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_rotCirc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_selectBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,82}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{546,722},{86,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{176,173}</string>
                <key>textureRect</key>
                <string>{{797,1013},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_test.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{633,1039},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_trash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{855,577},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editorui_undo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,76}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{855,499},{64,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settings_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{432,722},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settings_check_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{722,0},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-blue-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{634,792},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{634,875},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-grey-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{800,930},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{715,1039},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-pink-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{551,806},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{551,889},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-yellow-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{717,848},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-button-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{800,848},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-editor-window-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,700}</string>
                <key>spriteSourceSize</key>
                <string>{131,700}</string>
                <key>textureRect</key>
                <string>{{722,146},{131,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-slider-ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,251}</string>
                <key>spriteSourceSize</key>
                <string>{161,251}</string>
                <key>textureRect</key>
                <string>{{868,0},{51,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-slider-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{855,659},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-slider-progressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{855,712},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{923,1152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:581de76573100624aad49f974bd94955:9f361559e084721c286142485f00b40b:47a79fe71086a64da8694d7dcc6a4a61$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
