<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>controls_gameplay_btn_arch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{83,82}</string>
                <key>textureRect</key>
                <string>{{0,218},{83,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_break.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{170,308},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_eject.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{170,391},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_grab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{117,103},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_jet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{0,470},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{85,392},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_lean.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{0,115},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_move.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{117,0},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{170,474},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_pushup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{83,82}</string>
                <key>textureRect</key>
                <string>{{0,302},{83,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_reset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,100}</string>
                <key>spriteSourceSize</key>
                <string>{101,100}</string>
                <key>textureRect</key>
                <string>{{103,206},{101,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_superman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{83,82}</string>
                <key>textureRect</key>
                <string>{{85,308},{83,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_gameplay_btn_tuck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{83,82}</string>
                <key>textureRect</key>
                <string>{{0,386},{83,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_meter_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,94}</string>
                <key>spriteSourceSize</key>
                <string>{21,94}</string>
                <key>textureRect</key>
                <string>{{220,140},{21,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_meter_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,86}</string>
                <key>spriteSourceSize</key>
                <string>{12,86}</string>
                <key>textureRect</key>
                <string>{{103,115},{12,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,113}</string>
                <key>spriteSourceSize</key>
                <string>{115,113}</string>
                <key>textureRect</key>
                <string>{{0,0},{115,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controls_timer_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,29}</string>
                <key>spriteSourceSize</key>
                <string>{138,29}</string>
                <key>textureRect</key>
                <string>{{221,0},{138,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>controls_gameplay.png</string>
            <key>size</key>
            <string>{253,555}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68481431adfc580e02d50a2e23200a9d:5b399383a8d43ebaacff1c06265321b6:756f0cb468b32866250a242c55174e17$</string>
            <key>textureFileName</key>
            <string>controls_gameplay.png</string>
        </dict>
    </dict>
</plist>
