<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levSelect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{223,136},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{158,71},{64,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{60,42}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{157,269},{60,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{203,71},{64,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{62,44}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{157,179},{62,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{158,136},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{62,44}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{157,224},{62,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{0,312},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{45,312},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{180,312},{38,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{220,179},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{90,312},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{220,224},{36,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{135,312},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levSelect_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{218,269},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-38}</string>
                <key>spriteSize</key>
                <string>{63,70}</string>
                <key>spriteSourceSize</key>
                <string>{157,154}</string>
                <key>textureRect</key>
                <string>{{158,0},{63,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{223,312},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,155}</string>
                <key>spriteSourceSize</key>
                <string>{157,155}</string>
                <key>textureRect</key>
                <string>{{0,0},{157,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{157,155}</string>
                <key>textureRect</key>
                <string>{{222,0},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levSelect_outline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,155}</string>
                <key>spriteSourceSize</key>
                <string>{156,155}</string>
                <key>textureRect</key>
                <string>{{0,156},{156,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu_level_select.png</string>
            <key>size</key>
            <string>{256,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10ba26ac0939ea60c1e44e9f73af094c:90485973e94462deea70463a5ded0720:54b3809a3c22534ce24dfd91bfcea431$</string>
            <key>textureFileName</key>
            <string>menu_level_select.png</string>
        </dict>
    </dict>
</plist>
