<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>motor_cart_box_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,16}</string>
                <key>textureRect</key>
                <string>{{382,98},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,66}</string>
                <key>spriteSourceSize</key>
                <string>{12,66}</string>
                <key>textureRect</key>
                <string>{{395,51},{12,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{382,20},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,57}</string>
                <key>spriteSourceSize</key>
                <string>{18,57}</string>
                <key>textureRect</key>
                <string>{{348,1},{18,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,57}</string>
                <key>spriteSourceSize</key>
                <string>{20,57}</string>
                <key>textureRect</key>
                <string>{{289,100},{20,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{347,98},{28,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,29}</string>
                <key>spriteSourceSize</key>
                <string>{21,29}</string>
                <key>textureRect</key>
                <string>{{229,100},{21,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_box_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,16}</string>
                <key>textureRect</key>
                <string>{{348,20},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,21}</string>
                <key>spriteSourceSize</key>
                <string>{9,21}</string>
                <key>textureRect</key>
                <string>{{259,100},{9,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,21}</string>
                <key>spriteSourceSize</key>
                <string>{9,21}</string>
                <key>textureRect</key>
                <string>{{269,100},{9,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_box_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,21}</string>
                <key>spriteSourceSize</key>
                <string>{9,21}</string>
                <key>textureRect</key>
                <string>{{279,100},{9,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,63}</string>
                <key>spriteSourceSize</key>
                <string>{98,63}</string>
                <key>textureRect</key>
                <string>{{229,1},{98,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>motor_cart_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,126}</string>
                <key>spriteSourceSize</key>
                <string>{227,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{227,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_handle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{54,96}</string>
                <key>textureRect</key>
                <string>{{293,1},{54,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_shock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{382,118},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motor_cart_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{348,51},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_select_motor_cart_sprites.png</string>
            <key>size</key>
            <string>{408,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e79f7739e0def20005433688091427a3:657e15d3f0bbd320f3645c0014689fab:fd62140b5a08d15759087a01570b103b$</string>
            <key>textureFileName</key>
            <string>character_select_motor_cart_sprites.png</string>
        </dict>
    </dict>
</plist>
