<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moped_backWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{120,69},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_backWheel_broken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,48}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{19,69},{28,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_engine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,28}</string>
                <key>spriteSourceSize</key>
                <string>{35,28}</string>
                <key>textureRect</key>
                <string>{{200,42},{35,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_fork.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,53}</string>
                <key>spriteSourceSize</key>
                <string>{35,53}</string>
                <key>textureRect</key>
                <string>{{126,2},{35,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,64}</string>
                <key>spriteSourceSize</key>
                <string>{121,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{121,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_frontWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{168,73},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_frontWheel_Broken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,46}</string>
                <key>textureRect</key>
                <string>{{89,69},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{50,69},{46,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_rear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,20}</string>
                <key>textureRect</key>
                <string>{{216,73},{42,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_seat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,14}</string>
                <key>spriteSourceSize</key>
                <string>{50,14}</string>
                <key>textureRect</key>
                <string>{{2,69},{50,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moped_spokes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{200,2},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moped_tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,33}</string>
                <key>spriteSourceSize</key>
                <string>{53,33}</string>
                <key>textureRect</key>
                <string>{{164,2},{53,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moped_sprites.png</string>
            <key>size</key>
            <string>{239,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db520791b3275848b821d9f41f5aecd9:172c978901b868194e448f8e0efb7c8e:cdec6c330fa17316bfa7e841a5794626$</string>
            <key>textureFileName</key>
            <string>moped_sprites.png</string>
        </dict>
    </dict>
</plist>
