<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pogo_stick_brokenframe1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,35}</string>
                <key>spriteSourceSize</key>
                <string>{11,35}</string>
                <key>textureRect</key>
                <string>{{2,68},{11,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_brokenframe2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,36}</string>
                <key>spriteSourceSize</key>
                <string>{11,36}</string>
                <key>textureRect</key>
                <string>{{16,54},{11,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,63}</string>
                <key>spriteSourceSize</key>
                <string>{10,63}</string>
                <key>textureRect</key>
                <string>{{2,2},{10,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_rod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,49}</string>
                <key>spriteSourceSize</key>
                <string>{5,49}</string>
                <key>textureRect</key>
                <string>{{15,2},{5,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pogo_stick_spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,37}</string>
                <key>spriteSourceSize</key>
                <string>{6,37}</string>
                <key>textureRect</key>
                <string>{{23,2},{6,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pogo_stick_sprites.png</string>
            <key>size</key>
            <string>{31,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba81448736acfea195956d20251761d1:39e411eca8efc4ae7a12b3fd1d6b15fa:80da46f33b812e259599229dfed60507$</string>
            <key>textureFileName</key>
            <string>pogo_stick_sprites.png</string>
        </dict>
    </dict>
</plist>
