<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>road_bike_brokenFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,38}</string>
                <key>spriteSourceSize</key>
                <string>{65,38}</string>
                <key>textureRect</key>
                <string>{{2,85},{65,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_bike_brokenWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{70,118},{25,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>road_bike_childSeat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,60}</string>
                <key>spriteSourceSize</key>
                <string>{37,60}</string>
                <key>textureRect</key>
                <string>{{60,2},{37,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_bike_fork.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{20,48}</string>
                <key>textureRect</key>
                <string>{{100,2},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_bike_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,55}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{2,2},{80,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>road_bike_gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,16}</string>
                <key>spriteSourceSize</key>
                <string>{27,16}</string>
                <key>textureRect</key>
                <string>{{2,126},{27,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_bike_seat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,11}</string>
                <key>spriteSourceSize</key>
                <string>{18,11}</string>
                <key>textureRect</key>
                <string>{{32,126},{18,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_bike_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{70,65},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>road_bike_sprites.png</string>
            <key>size</key>
            <string>{122,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65dba76b2df7c4d9d3c1a132f70a7b6f:6a4869c432b0b00f05227dbfa45be7a1:8c16d7207ad731fa49e5cd13f0145d02$</string>
            <key>textureFileName</key>
            <string>road_bike_sprites.png</string>
        </dict>
    </dict>
</plist>
