<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheelchair_brokenFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{81,2},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_brokenWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,51}</string>
                <key>spriteSourceSize</key>
                <string>{20,51}</string>
                <key>textureRect</key>
                <string>{{69,90},{20,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheelchair_flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,12}</string>
                <key>spriteSourceSize</key>
                <string>{55,12}</string>
                <key>textureRect</key>
                <string>{{69,75},{55,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,70}</string>
                <key>textureRect</key>
                <string>{{2,2},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_frontWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{108,53},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_handle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,36}</string>
                <key>spriteSourceSize</key>
                <string>{11,36}</string>
                <key>textureRect</key>
                <string>{{55,75},{11,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_jet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,17}</string>
                <key>spriteSourceSize</key>
                <string>{24,17}</string>
                <key>textureRect</key>
                <string>{{81,53},{24,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,11}</string>
                <key>spriteSourceSize</key>
                <string>{30,11}</string>
                <key>textureRect</key>
                <string>{{55,114},{30,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{2,75},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wheelchair_sprites.png</string>
            <key>size</key>
            <string>{126,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7fec1c43609ad9c09b7d7cc60fbd255:5acb3fd953dfcdc395bcec4dd7e896fe:671de45cb5ce2e7d159f34505315422b$</string>
            <key>textureFileName</key>
            <string>wheelchair_sprites.png</string>
        </dict>
    </dict>
</plist>
