<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_main_back_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,171}</string>
                <key>spriteSourceSize</key>
                <string>{172,171}</string>
                <key>textureRect</key>
                <string>{{553,354},{172,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_back_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{378,700},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_blue_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,171}</string>
                <key>spriteSourceSize</key>
                <string>{171,171}</string>
                <key>textureRect</key>
                <string>{{727,528},{171,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_blue_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{742,0},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_grey_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,171}</string>
                <key>spriteSourceSize</key>
                <string>{173,171}</string>
                <key>textureRect</key>
                <string>{{378,354},{173,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_grey_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,171}</string>
                <key>spriteSourceSize</key>
                <string>{173,171}</string>
                <key>textureRect</key>
                <string>{{378,527},{173,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_pink_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,171}</string>
                <key>spriteSourceSize</key>
                <string>{172,171}</string>
                <key>textureRect</key>
                <string>{{553,527},{172,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_btn_pink_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,172}</string>
                <key>spriteSourceSize</key>
                <string>{171,172}</string>
                <key>textureRect</key>
                <string>{{727,354},{171,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_confirm_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{742,174},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_confirm_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,150}</string>
                <key>spriteSourceSize</key>
                <string>{149,150}</string>
                <key>textureRect</key>
                <string>{{530,700},{149,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{0,810},{15,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_achievements.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{97,107}</string>
                <key>spriteSourceSize</key>
                <string>{173,171}</string>
                <key>textureRect</key>
                <string>{{0,701},{97,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_editor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{202,701},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,99}</string>
                <key>spriteSourceSize</key>
                <string>{173,171}</string>
                <key>textureRect</key>
                <string>{{99,701},{101,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_leaderboards.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{91,88}</string>
                <key>spriteSourceSize</key>
                <string>{173,172}</string>
                <key>textureRect</key>
                <string>{{776,701},{91,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_options.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{173,172}</string>
                <key>textureRect</key>
                <string>{{681,701},{93,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_icon_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{376,172}</string>
                <key>textureRect</key>
                <string>{{869,701},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{740,352}</string>
                <key>spriteSourceSize</key>
                <string>{744,354}</string>
                <key>textureRect</key>
                <string>{{0,0},{740,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_playbtn_blue_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,171}</string>
                <key>spriteSourceSize</key>
                <string>{376,171}</string>
                <key>textureRect</key>
                <string>{{0,528},{376,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_main_playbtn_blue_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,172}</string>
                <key>spriteSourceSize</key>
                <string>{376,172}</string>
                <key>textureRect</key>
                <string>{{0,354},{376,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu_main.png</string>
            <key>size</key>
            <string>{954,850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56674e9fb6d4b21315ed9728ea3e710f:a5e6cefe088a180d0dabbb8ff5f9552d:e4772d1fb01e14fbca2c72d72f0e9048$</string>
            <key>textureFileName</key>
            <string>menu_main.png</string>
        </dict>
    </dict>
</plist>
