<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapters</key>
	<array>
		<dict>
			<key>index</key>
			<integer>0</integer>
			<key>characterIndex</key>
			<integer>2</integer>
			<key>name</key>
			<string>Business Guy</string>
			<key>comment</key>
			<string>Ride your personal transporter through a series of lethal obstacles in a desperate quest for glory.</string>
			<key>levels</key>
			<array>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Tutorial Level</string>
					<key>dataFile</key>
					<string>01_business_guy/01_business_guy_tutorial_level.xml</string>
					<key>dataFile-debug</key>
					<string>debug/debug.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Missing Fish</string>
					<key>dataFile</key>
					<string>01_business_guy/02_business_guy_missing_fish.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Blue Tunnels</string>
					<key>dataFile</key>
					<string>01_business_guy/03_business_guy_blue_tunnels.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Buttons and Fans</string>
					<key>dataFile</key>
					<string>01_business_guy/04_business_guy_buttons_and_fans.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Pretty Dark Dungeon</string>
					<key>dataFile</key>
					<string>01_business_guy/05_business_guy_pretty_dark_dungeon.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Construction Adventure</string>
					<key>dataFile</key>
					<string>01_business_guy/06_business_guy_construction_adventure.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Colored Platforms</string>
					<key>dataFile</key>
					<string>01_business_guy/07_business_guy_buttons_colored_platforms.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Spike Lab Nights</string>
					<key>dataFile</key>
					<string>01_business_guy/08_business_guy_spike_lab_nights.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Spike Lab</string>
					<key>dataFile</key>
					<string>01_business_guy/09_business_guy_spike_lab.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Pink Nightmare</string>
					<key>dataFile</key>
					<string>01_business_guy/10_business_guy_pink_nightmare.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Construction Terror</string>
					<key>dataFile</key>
					<string>01_business_guy/11_business_guy_construction_terror.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Ferris Wheels</string>
					<key>dataFile</key>
					<string>01_business_guy/12_business_guy_ferris_wheels.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Gear Chase</string>
					<key>dataFile</key>
					<string>01_business_guy/13_business_guy_gear_chase.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Dirty Rocks</string>
					<key>dataFile</key>
					<string>01_business_guy/14_business_guy_dirty_rocks.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>2</integer>
					<key>name</key>
					<string>Snow Trespassing</string>
					<key>dataFile</key>
					<string>01_business_guy/15_business_guy_snow_tresspassing.xml</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>characterIndex</key>
			<integer>3</integer>
			<key>name</key>
			<string>Irresponsible Dad</string>
			<key>comment</key>
			<string>You and your brave son take to the streets, using teamwork to conquer any obstacle in your path.</string>
			<key>levels</key>
			<array>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Tutorial</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/01_irresponsible_dad_tutorial.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Pistons Of Doom</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/02_irresponsible_dad_pistons_of_doom.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Salmon Hills</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/03_irresponsible_dad_salmon_hills.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Bicycle Motorcross</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/04_irresponsible_dad_bicycle_motorcross.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Cell Escape</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/05_irresponsible_dad_cell_escape.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Construction Afternoon</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/06_irresponsible_dad_construction_afternoon.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Aqua Quest</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/07_irresponsible_dad_aqua_quest.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Old Mountain</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/08_irresponsible_dad_old_mountain.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Space Time</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/09_irresponsible_dad_space_time.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Gravity Lab</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/10_irresponsible_dad_gravity_lab.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Gems</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/11_irresponsible_dad_gems.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>3D Course</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/12_irresponsible_dad_3d_course.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Black And Orange</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/13_irresponsible_dad_black_and_orange.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Hamburger Factory</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/14_irresponsible_dad_hamburger_factory.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>3</integer>
					<key>name</key>
					<string>Occult Wheels</string>
					<key>dataFile</key>
					<string>02_irresponsible_dad/15_irresponsible_dad_occult_wheels.xml</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>characterIndex</key>
			<integer>1</integer>
			<key>name</key>
			<string>Wheelchair Guy</string>
			<key>comment</key>
			<string>Challenge the hand life has dealt you with rocket-powered propulsion.</string>
			<key>levels</key>
			<array>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Tutorial</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/01_wheelchair_tutorial.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Playground</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/02_wheelchair_playground.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Wheelchair Motorcross</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/03_wheelchair_motorcross.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Hammers</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/04_wheelchair_hammers.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Rooms</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/05_wheelchair_rooms.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Kreft Swamp</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/06_wheelchair_swamp.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Construction</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/07_wheelchair_construction.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Blue Industrial</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/08_wheelchair_blue_industrial.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>This Old Lab</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/09_wheelchair_this_old_lab.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Candy World</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/10_wheelchair_guy_candies.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Amusement Park</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/11_wheelchair_amusement_park.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Cyan</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/12_wheelchair_cyan.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Ferris Doom</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/13_wheelchair_ferris_doom.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Gears</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/14_wheelchair_gears.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Barn</string>
					<key>dataFile</key>
					<string>03_wheelchair_guy/15_wheelchair_barn.xml</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>characterIndex</key>
			<integer>4</integer>
			<key>name</key>
			<string>Effective Shopper</string>
			<key>comment</key>
			<string>Challenge the label of immobility society has cast upon you! Use your mobility scooter to reclaim your ability to shop with peak effectiveness.</string>
			<key>levels</key>
			<array>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>Tutorial</string>
					<key>dataFile</key>
					<string>04_effective_shopper/01_effective_shopper_tutorial.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>Colors Galore 1</string>
					<key>dataFile</key>
					<string>04_effective_shopper/02_effective_shopper_2.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>Colors Galore 2</string>
					<key>dataFile</key>
					<string>04_effective_shopper/03_effective_shopper_3.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>Colors Galore 3</string>
					<key>dataFile</key>
					<string>04_effective_shopper/04_effective_shopper_4.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>Colors Galore 4</string>
					<key>dataFile</key>
					<string>04_effective_shopper/05_effective_shopper_5.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>Kreft 4</string>
					<key>dataFile</key>
					<string>04_effective_shopper/06_effective_shopper_lab.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>Forest</string>
					<key>dataFile</key>
					<string>04_effective_shopper/07_effective_shopper_forest.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>City</string>
					<key>dataFile</key>
					<string>04_effective_shopper/08_effective_shopper_city.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>Construction</string>
					<key>dataFile</key>
					<string>04_effective_shopper/09_effective_shopper_construction.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>Motorcross</string>
					<key>dataFile</key>
					<string>04_effective_shopper/10_effective_shopper_motorcross.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>Boulder</string>
					<key>dataFile</key>
					<string>04_effective_shopper/11_effective_shopper_boulder.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>Neon Black</string>
					<key>dataFile</key>
					<string>04_effective_shopper/12_effective_shopper_neon_black.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>Egyptian Tomb</string>
					<key>dataFile</key>
					<string>04_effective_shopper/13_effective_shopper_egyptiantomb.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>castle</string>
					<key>dataFile</key>
					<string>04_effective_shopper/14_effective_shopper_castle.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>4</integer>
					<key>name</key>
					<string>Factory</string>
					<key>dataFile</key>
					<string>04_effective_shopper/15_effective_shopper_factory.xml</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>characterIndex</key>
			<integer>5</integer>
			<key>name</key>
			<string>Moped Couple</string>
			<key>comment</key>
			<string></string>
			<key>levels</key>
			<array/>
		</dict>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>characterIndex</key>
			<integer>9</integer>
			<key>name</key>
			<string>Pogo Stick Guy</string>
			<key>comment</key>
			<string>A lack of wheels and self-respect won&apos;t stop you from hopping your way to new heights of greatness!</string>
			<key>levels</key>
			<array>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>9</integer>
					<key>name</key>
					<string>Tutorial</string>
					<key>dataFile</key>
					<string>06_pogo_stick_guy/01_pogo_tutorial.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>9</integer>
					<key>name</key>
					<string>Steps</string>
					<key>dataFile</key>
					<string>06_pogo_stick_guy/the_hooch/02_pogo_steps.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>9</integer>
					<key>name</key>
					<string>Construction Leaps</string>
					<key>dataFile</key>
					<string>06_pogo_stick_guy/the_hooch/03_pogo_construction.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>9</integer>
					<key>name</key>
					<string>Mineshaft Escape</string>
					<key>dataFile</key>
					<string>06_pogo_stick_guy/the_hooch/04_pogo_mineshaft.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>9</integer>
					<key>name</key>
					<string>Circus Trauma</string>
					<key>dataFile</key>
					<string>06_pogo_stick_guy/the_hooch/05_pogo_circus.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>9</integer>
					<key>name</key>
					<string>Circus Trauma</string>
					<key>dataFile</key>
					<string>06_pogo_stick_guy/kreftus/pogo_floating_island_2021-06-08.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<true/>
					<key>playable_character</key>
					<integer>9</integer>
					<key>name</key>
					<string>Pogo Ascension</string>
					<key>dataFile</key>
					<string>06_pogo_stick_guy/js/pogo_ascension.xml</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>characterIndex</key>
			<integer>-1</integer>
			<key>name</key>
			<string>SELECT A CHARACTER</string>
			<key>comment</key>
			<string></string>
			<key>levels</key>
			<array>
				<dict>
					<key>force_character</key>
					<false/>
					<key>locked</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Obstacle Course?</string>
					<key>dataFile</key>
					<string>07_all/all_obstacle_course.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<false/>
					<key>locked</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Obstacle Zone</string>
					<key>dataFile</key>
					<string>07_all/all_obstacle_kreft_course.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<false/>
					<key>locked</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Obstacles Galore</string>
					<key>dataFile</key>
					<string>07_all/all_obstacle_3_aqua_blue.xml</string>
				</dict>
				<dict>
					<key>force_character</key>
					<false/>
					<key>locked</key>
					<true/>
					<key>playable_character</key>
					<integer>1</integer>
					<key>name</key>
					<string>Dungeon Vibes</string>
					<key>dataFile</key>
					<string>07_all/all_obstacle_dungeon.xml</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
